Repository GNOME/glib, changes with the owners that docs/CODEOWNERS names for each.
All owners: @pwithnall, @ebassi, @xclaesse, @nirbheek, @creiter, @jralls, @sdroege, @lrn, @fanc999, @jmatthew, @ajacoutot, @lantw, @matthiasc, @alexl, @mcatanzaro, @pgriffis, @smcv, @oholy

docs: Use the right g_autoptr function when using an auxiliary function
  glib/garcbox.c
  glib/grcbox.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Check that cancelling g_file_replace don't overwrite existing file
  gio/tests/file.c
Owners: @pwithnall, @ebassi

Fixing signedness in glib/gquark.c
  glib/gquark.c
Owners: @ebassi, @pwithnall, @sdroege

gdbusaddress: Simplify address validation in is_valid_unix()
  gio/gdbusaddress.c
Owners: @smcv, @pwithnall

Fixing signedness in glib/gvariant-core.c
  glib/gvariant-core.c
Owners: @pwithnall, @sdroege

gfile: Fix documentation links to non-existent symbols
  gio/gfile.c
  gio/gfile.h
  gio/giotypes.h
Owners: @pwithnall, @ebassi

gdbus, tests: rename gdbus-unix-addresses test to gdbus-address-get-session
  gio/tests/.gitignore
  gio/tests/dbus-launch.c
  gio/tests/gdbus-address-get-session.c
  gio/tests/meson.build
Owners: @pwithnall, @ebassi, @xclaesse, @nirbheek

gdbus, win32: move most W32 dbus autolaunch code to gdbusprivate
  gio/gdbusaddress.c
  gio/gdbusprivate.c
  gio/gdbusprivate.h
Owners: @smcv, @pwithnall

Fixing signedness in glib/gmarkup.c
  glib/gmarkup.c
Owners: @ebassi, @pwithnall, @sdroege

Fixing various warnings in glib/gstring.c
  glib/gstring.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Split out D-Bus address parsing tests
  gio/tests/gdbus-addresses.c
Owners: @pwithnall, @ebassi

tests: Improve test coverage of D-Bus tcp transport addresses
  gio/tests/gdbus-addresses.c
Owners: @pwithnall, @ebassi

GSocketClient - Free last error if a connection attempt fails and on retry the cancellable is cancelled
  gio/gsocketclient.c
Owners: @pwithnall, @ebassi

docs: Fix pluralised links to symbols
  gio/gnetworkaddress.c
  gio/gproxyaddressenumerator.h
  gio/gsocketaddressenumerator.c
  gio/gsocketconnectable.c
  gio/gsocketconnectable.h
Owners: @pwithnall, @ebassi

gpollableoutputstream: Add vfunc documentation for writev_nonblocking
  gio/gpollableoutputstream.h
Owners: @alexl, @pwithnall, @sdroege

gdbusaddress: Remove some always-true branches
  gio/gdbusaddress.c
Owners: @smcv, @pwithnall

appinfo: Fix documentation cross-reference
  gio/gappinfo.c
Owners: @pwithnall, @ebassi

docs: Move some documentation comments from docs.c to their symbols
  glib/docs.c
  glib/gmacros.h
  glib/gtestutils.c
  glib/gtestutils.h
Owners: @ebassi, @pwithnall, @sdroege

Fixing various warning in glib/gvarianttypeinfo.c
  glib/gvarianttypeinfo.c
Owners: @pwithnall, @sdroege

Fixing signedness in glib/gtester.c
  glib/gtester.c
Owners: @ebassi, @pwithnall, @sdroege

headers: Add various missing G_DISABLE_DEPRECATED guards
  gio/gdtlsconnection.h
  gio/gioenums.h
  gio/gsimpleasyncresult.h
  gio/gtlsconnection.h
  glib/deprecated/gthread-deprecated.c
  glib/gmacros.h
  glib/gmem.h
  glib/gtestutils.h
  glib/gtrashstack.h
  gobject/gparam.h
  gobject/gparamspecs.h
  gobject/gtype.h
  gobject/gvaluearray.h
Owners: @pwithnall, @ebassi, @sdroege

meson: do a build-time check for strlcpy before attempting runtime check
  meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

gsocket: Remove (type) annotation from flags arguments
  gio/gsocket.c
Owners: @pwithnall, @ebassi

gfile: Add some missing parameter documentation
  gio/gfile.c
Owners: @pwithnall, @ebassi

Fixing signedness in glib/gprimes.c
  glib/gprimes.c
Owners: @ebassi, @pwithnall, @sdroege

gdbusaddress: Clean up memory management in _g_dbus_address_parse_entry()
  gio/gdbusaddress.c
Owners: @smcv, @pwithnall

docs: Ignore some generated source files
  docs/reference/gio/meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

Fixing missing initializer in glib-unix.c
  glib/glib-unix.c
Owners: @ebassi, @pwithnall, @sdroege

Fix various signedness warnings in glib/ghash.c
  glib/ghash.c
  glib/tests/hash.c
Owners: @ebassi, @pwithnall, @sdroege

Fixing signedness warning in glib/gslice.c
  glib/gslice.c
Owners: @ebassi, @pwithnall, @sdroege

gresolver: Don’t use gai_strerror() on Windows, as it isn’t threadsafe
  gio/gresolver.c
  gio/gthreadedresolver.c
Owners: @pwithnall, @ebassi

ci: Add a MinGW Docker image
  .gitlab-ci/mingw.Dockerfile
Owners: @pwithnall, @xclaesse, @creiter

gdbusdaemon: Fix error handling for filtering outgoing messages
  gio/gdbusdaemon.c
Owners: @smcv, @pwithnall

gunixmounts: Return the last matching mount for same mount path
  gio/gunixmounts.c
Owners: @pwithnall, @ebassi

gthreadedsocketservice: Abstract out a free function
  gio/gthreadedsocketservice.c
Owners: @pwithnall, @ebassi

docs: Use ‘look up’ as a verb, rather than the noun ‘lookup’
  gio/gdbusobjectmanager.c
  gio/gfileattribute.c
  gio/gioenums.h
  gio/gnetworkaddress.c
  gio/gproxy.c
  gio/gresolver.c
  gio/gsettings-mapping.c
  gio/gtlsdatabase.c
  gio/gvfs.h
  gio/strinfo.c
  gio/tests/desktop-app-info.c
  gio/tests/resolver.c
  glib/ghash.c
  glib/gmain.c
  glib/gscanner.c
  glib/gsequence.c
  glib/gtree.c
  glib/gvariant.c
  gobject/gobject.c
  gobject/gsignal.c
  gobject/gtype.c
Owners: @smcv, @pwithnall, @ebassi, @sdroege

Check GCC version before ignoring diagnostic message
  glib/tests/mem-overflow.c
Owners: @ebassi, @pwithnall, @sdroege

Update Indonesian translation
  po/id.po
Owners: @pwithnall, @ebassi

Check for /proc/self/cmdline
  glib/goption.c
  glib/tests/option-argv0.c
  meson.build
Owners: @ebassi, @pwithnall, @sdroege, @xclaesse, @nirbheek

Update glib/gnulib/README
  glib/gnulib/README
Owners: @ebassi, @pwithnall, @sdroege

docs/CODEOWNERS:

# These are the people responsible for subsystems in GLib; if you're opening
# a merge request for files listed here, please add the following people to
# the list of reviewers

# The syntax of this file is defined by GitLab:
#   https://docs.gitlab.com/ee/user/project/code_owners.html
# Which, in turn, is similar to the .gitignore and .gitattributes files:
#
#  - comments start with `#`
#  - the first column contains paths and globs
#  - the second column contains GitLab user names or email addresses,
#    separated by spaces
#
# The last matching glob (rather than the union of *all* matching globs) gives
# the owners of a piece of code.
#
# If you want to be responsible for code reviews in specific sections of
# the GLib code base, add yourself here.

# Overall maintainers
*	@pwithnall @ebassi

# Build system
meson.build		@xclaesse @nirbheek @pwithnall
meson_options.txt	@xclaesse @nirbheek @pwithnall
subprojects/		@xclaesse @nirbheek @pwithnall

# CI integration
.gitlab-ci*	@pwithnall @xclaesse @creiter

# macOS support
*osx*	@jralls @pwithnall @sdroege
*.m	@jralls @pwithnall @sdroege

# Windows support
*win32*	@lrn @creiter @fanc999 @pwithnall @sdroege

# Windows support (MSVC specific)
*msvc*	@fanc999 @creiter @pwithnall @sdroege

# Android support
*android*	@xclaesse @pwithnall @sdroege

# BSD support
*bsd*		@jmatthew @ajacoutot @lantw @pwithnall
*kqueue*	@jmatthew @ajacoutot @lantw @pwithnall

# flatpak portals
gio/*portal*	@matthiasc @alexl @pwithnall

# Networking
gio/g*{tcp,udp,tls,socket,resolver,proxy,network,inet,datagram}*	@mcatanzaro @pgriffis @pwithnall @sdroege

# D-Bus
gio/g*bus*	@smcv @pwithnall

# I/O
gio/g*{file,vfs,mount,drive,volume}*	@oholy @alexl @pwithnall @sdroege
gio/g*stream*				@alexl @pwithnall @sdroege
gio/gio-tool*				@oholy @alexl @pwithnall

# Generic bits of GLib
glib/	@ebassi @pwithnall @sdroege

# GObject type system
gobject/	@ebassi @pwithnall @sdroege

# GVariant
glib/gvariant*	@pwithnall @sdroege

# grefcount, GRcBox and GRefString
glib/gref{count,string}.[ch]	@ebassi @pwithnall @sdroege
glib/grc*.[ch]			@ebassi @pwithnall @sdroege
glib/garc*.[ch]			@ebassi @pwithnall @sdroege

# Logging
glib/gmessages.[ch]	@pwithnall @sdroege

# Google clusterfuzz support
fuzzing/	@pwithnall
