Repository GNOME/glib, changes with the owners that docs/CODEOWNERS names for each.
All owners: @pwithnall, @ebassi, @xclaesse, @nirbheek, @creiter, @jralls, @sdroege, @lrn, @fanc999, @jmatthew, @ajacoutot, @lantw, @matthiasc, @alexl, @mcatanzaro, @pgriffis, @smcv, @oholy

docs/CODEOWNERS:

# These are the people responsible for subsystems in GLib; if you're opening
# a merge request for files listed here, please add the following people to
# the list of reviewers

# The syntax of this file is defined by GitLab:
#   https://docs.gitlab.com/ee/user/project/code_owners.html
# Which, in turn, is similar to the .gitignore and .gitattributes files:
#
#  - comments start with `#`
#  - the first column contains paths and globs
#  - the second column contains GitLab user names or email addresses,
#    separated by spaces
#
# The last matching glob (rather than the union of *all* matching globs) gives
# the owners of a piece of code.
#
# If you want to be responsible for code reviews in specific sections of
# the GLib code base, add yourself here.

# Overall maintainers
*	@pwithnall @ebassi

# Build system
meson.build		@xclaesse @nirbheek @pwithnall
meson_options.txt	@xclaesse @nirbheek @pwithnall
subprojects/		@xclaesse @nirbheek @pwithnall

# CI integration
.gitlab-ci*	@pwithnall @xclaesse @creiter

# macOS support
*osx*	@jralls @pwithnall @sdroege
*.m	@jralls @pwithnall @sdroege

# Windows support
*win32*	@lrn @creiter @fanc999 @pwithnall @sdroege

# Windows support (MSVC specific)
*msvc*	@fanc999 @creiter @pwithnall @sdroege

# Android support
*android*	@xclaesse @pwithnall @sdroege

# BSD support
*bsd*		@jmatthew @ajacoutot @lantw @pwithnall
*kqueue*	@jmatthew @ajacoutot @lantw @pwithnall

# flatpak portals
gio/*portal*	@matthiasc @alexl @pwithnall

# Networking
gio/g*{tcp,udp,tls,socket,resolver,proxy,network,inet,datagram}*	@mcatanzaro @pgriffis @pwithnall @sdroege

# D-Bus
gio/g*bus*	@smcv @pwithnall

# I/O
gio/g*{file,vfs,mount,drive,volume}*	@oholy @alexl @pwithnall @sdroege
gio/g*stream*				@alexl @pwithnall @sdroege
gio/gio-tool*				@oholy @alexl @pwithnall

# Generic bits of GLib
glib/	@ebassi @pwithnall @sdroege

# GObject type system
gobject/	@ebassi @pwithnall @sdroege

# GVariant
glib/gvariant*	@pwithnall @sdroege

# grefcount, GRcBox and GRefString
glib/gref{count,string}.[ch]	@ebassi @pwithnall @sdroege
glib/grc*.[ch]			@ebassi @pwithnall @sdroege
glib/garc*.[ch]			@ebassi @pwithnall @sdroege

# Logging
glib/gmessages.[ch]	@pwithnall @sdroege

# Google clusterfuzz support
fuzzing/	@pwithnall

Revert "Work around test failure in gdbus-names"
  gio/tests/gdbus-names.c
Owners: @pwithnall, @ebassi

docs: update build instructions for selinux
  docs/reference/glib/building.xml
Owners: @ebassi, @pwithnall, @sdroege

glib/gtimezone.c: Use Unicode versions of Windows Registry API
  glib/gtimezone.c
Owners: @ebassi, @pwithnall, @sdroege

fix atomic detection on older gcc versions
  meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

gobject/tests/mkenums.py: Fix _write_rspfile()
  gobject/tests/mkenums.py
Owners: @ebassi, @pwithnall, @sdroege

gunidecomp: Fix a (nullable) annotation which should be (optional)
  glib/gunidecomp.c
Owners: @ebassi, @pwithnall, @sdroege

g_utf8_normalize: Doc comment return missing nullable annotation
  glib/gunidecomp.c
Owners: @ebassi, @pwithnall, @sdroege

meson: Mostly assume clang-cl is MSVC
  gio/tests/meson.build
  glib/gnulib/gl_cv_func_frexp_works/meson.build
  glib/gnulib/gl_cv_func_printf_directive_f/meson.build
  glib/gnulib/gl_cv_func_printf_infinite/meson.build
  glib/gnulib/gl_cv_func_printf_infinite_long_double/meson.build
  glib/gnulib/gl_cv_func_printf_long_double/meson.build
  glib/meson.build
  gmodule/meson.build
  meson.build
Owners: @xclaesse, @nirbheek, @pwithnall, @ebassi, @sdroege

Update the gdatetime Test Program for Windows
  glib/tests/gdatetime.c
Owners: @ebassi, @pwithnall, @sdroege

gio: fix typo in g_settings_reset documentation
  gio/gsettings.c
Owners: @pwithnall, @ebassi

gio: ensure default va_marshaller is used
  gio/gactiongroup.c
  gio/gapplication.c
  gio/gcancellable.c
  gio/gdbusdaemon.c
  gio/gdbusobject.c
  gio/gdbusobjectmanager.c
  gio/gdrive.c
  gio/gfilenamecompleter.c
  gio/gmount.c
  gio/gmountoperation.c
  gio/gnetworkmonitor.c
  gio/gresolver.c
  gio/gsettings.c
  gio/gsimpleaction.c
  gio/gunixmounts.c
  gio/gvolume.c
  gio/gvolumemonitor.c
Owners: @pwithnall, @ebassi, @smcv

Adding g_ptr_array_extend_and_steal() function to glib/garray.c
  docs/reference/glib/glib-sections.txt
  glib/garray.c
  glib/garray.h
  glib/tests/array-test.c
Owners: @ebassi, @pwithnall, @sdroege

Add g_timer_is_active
  docs/reference/glib/glib-sections.txt
  glib/gtimer.c
  glib/gtimer.h
  glib/tests/timer.c
Owners: @ebassi, @pwithnall, @sdroege

glib/tests/fileutils.c: Fix stdio Wrapper Test on Windows
  glib/tests/fileutils.c
Owners: @ebassi, @pwithnall, @sdroege

gio: Make minor docs improvements
  gio/gdbusconnection.c
  gio/gdbusprivate.c
  gio/gtestdbus.c
Owners: @smcv, @pwithnall

Fixing find_enclosing_mount() documentation
  gio/gfile.c
Owners: @pwithnall, @ebassi

key file: Handle filename being NULL
  gio/gkeyfilesettingsbackend.c
Owners: @pwithnall, @ebassi

Fix the ISO 15924 code for Manichaean
  glib/gunicode.h
  glib/guniprop.c
  glib/tests/unicode.c
Owners: @ebassi, @pwithnall, @sdroege

glib/tests/convert.c: Skip tests that aren't meaningful for Windows
  glib/tests/convert.c
Owners: @ebassi, @pwithnall, @sdroege

ci: Enable CI on FreeBSD 12
  .gitlab-ci.yml
Owners: @pwithnall, @xclaesse, @creiter

Add g_array_binary_search() to garray API
  docs/reference/glib/glib-sections.txt
  glib/garray.c
  glib/garray.h
  glib/tests/array-test.c
Owners: @ebassi, @pwithnall, @sdroege

glib/tests/gdatetime.c: Fix TZ envvar test on Windows
  glib/tests/gdatetime.c
Owners: @ebassi, @pwithnall, @sdroege

gio: Fix minor docs mistakes
  gio/gasyncresult.h
  gio/gdbusconnection.c
Owners: @pwithnall, @ebassi, @smcv

gdbus: Clean up sockets and nonces from filesystem
  gio/gdbusserver.c
  gio/tests/gdbus-peer.c
Owners: @smcv, @pwithnall, @ebassi

Revert "gmacros: Use _Static_assert when C11 is available"
  glib/gmacros.h
Owners: @ebassi, @pwithnall, @sdroege

GObject: Fix mkenums.py and genmarshal.py tests on Windows
  gobject/tests/genmarshal.py
  gobject/tests/mkenums.py
Owners: @ebassi, @pwithnall, @sdroege

Fix typo in request handle
  gio/gopenuriportal.c
Owners: @matthiasc, @alexl, @pwithnall

gmacros.h: Support deprecation macros better on clang-cl
  glib/gmacros.h
Owners: @ebassi, @pwithnall, @sdroege

gdbus: support unix:dir= addresses
  gio/gdbusaddress.c
  gio/gdbusserver.c
  gio/tests/gdbus-addresses.c
Owners: @smcv, @pwithnall, @ebassi

gutf8: Add various missing (transfer) annotations
  glib/gutf8.c
Owners: @ebassi, @pwithnall, @sdroege

gmodule: Add support for loading UWP packaged DLLs
  gmodule/gmodule-win32.c
Owners: @lrn, @creiter, @fanc999, @pwithnall, @sdroege

glib-private.h: Set the appropriate string for setlocale()
  glib/glib-private.h
Owners: @ebassi, @pwithnall, @sdroege

build: Increase the slow test timeout to 180s
  meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

Adding g_ptr_array_extend() function to glib/garray.c
  docs/reference/glib/glib-sections.txt
  glib/garray.c
  glib/garray.h
  glib/tests/array-test.c
Owners: @ebassi, @pwithnall, @sdroege

Revert "gtestdbus: Properly close server connections"
  gio/gtestdbus.c
Owners: @smcv, @pwithnall

Update the instructions in .gitlab-ci.
  .gitlab-ci/README.md
Owners: @pwithnall, @xclaesse, @creiter

gdbus: run peer test multiple times with different addresses
  gio/tests/gdbus-peer.c
Owners: @pwithnall, @ebassi

gsignal: update documentation about va_marshaller
  gobject/gsignal.c
Owners: @ebassi, @pwithnall, @sdroege

gstdio: simplify _g_win32_get_mode_alias
  glib/gstdio.c
Owners: @ebassi, @pwithnall, @sdroege

glib/tests/refcount.c: Only expect saturation tests to pass on GCC
  glib/tests/refcount.c
Owners: @ebassi, @pwithnall, @sdroege
