Repository GNOME/glib, changes with the owners that docs/CODEOWNERS names for each.
All owners: @pwithnall, @ebassi, @xclaesse, @nirbheek, @creiter, @jralls, @sdroege, @lrn, @fanc999, @jmatthew, @ajacoutot, @lantw, @matthiasc, @alexl, @mcatanzaro, @pgriffis, @smcv, @oholy

gfileinfo: Add g_file_info_{get,set}_modification_date_time() APIs
  docs/reference/gio/gio-sections-common.txt
  gio/gfileinfo.c
  gio/gfileinfo.h
Owners: @pwithnall, @ebassi

doc: Hide some internal function
  gio/gcontenttype.h
  gio/gnetworkaddress.c
Owners: @pwithnall, @ebassi

gnetworkmonitornm: Remove double-space
  gio/gnetworkmonitornm.c
Owners: @pwithnall, @ebassi

garray: Fix binary search for non-existent elements on the left
  glib/garray.c
  glib/tests/array-test.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Add a test for g_dbus_connection_get_flags()
  gio/tests/gdbus-connection.c
Owners: @pwithnall, @ebassi

doc: Workaround gtkdoc-scan bug leading to undocumented symbols
  glib/gtypes.h
Owners: @ebassi, @pwithnall, @sdroege

meson: Remove an outdated todo re HAVE_UNIX98_PRINTF
  meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

gmodule: Don't try to use toolhelp for symbol searching on UWP
  gmodule/gmodule-win32.c
Owners: @lrn, @creiter, @fanc999, @pwithnall, @sdroege

gmain: Deprecate g_get_current_time() because it uses GTimeVal
  glib/gmain.c
  glib/gmain.h
Owners: @ebassi, @pwithnall, @sdroege

gfileutils: Fix error propagation for other than ENOENT
  glib/gfileutils.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Fix a pragma warning on FreeBSD
  glib/tests/mem-overflow.c
Owners: @ebassi, @pwithnall, @sdroege

ci: Use the new Docker images
  .gitlab-ci.yml
Owners: @pwithnall, @xclaesse, @creiter

gdate: Deprecate GTime
  glib/gdate.c
  glib/gdate.h
Owners: @ebassi, @pwithnall, @sdroege

glib: Mark various macros as available in certain versions of GLib
  glib/gmain.h
  glib/gmem.h
  gobject/gsignal.h
Owners: @ebassi, @pwithnall, @sdroege

Update Swedish translation
  po/sv.po
Owners: @pwithnall, @ebassi

glib: Deprecate API using GTimeVal in gtimer.h
  glib/gtimer.c
  glib/gtimer.h
Owners: @ebassi, @pwithnall, @sdroege

g_object_get_property: Document accepting G_VALUE_INIT as new API
  gobject/gobject.c
Owners: @ebassi, @pwithnall, @sdroege

Update Galician translation
  po/gl.po
Owners: @pwithnall, @ebassi

windows: fix multicast socket binding to specific network interfaces
  gio/gsocket.c
Owners: @pwithnall, @ebassi

gapplication: Fix a leaking GRemoteActionGroup member
  gio/gapplication.c
Owners: @pwithnall, @ebassi

gdate: Minor documentation formatting improvements for GTime
  glib/gdate.c
Owners: @ebassi, @pwithnall, @sdroege

build: Remove unsupported `install` directives
  gio/gdbus-2.0/codegen/meson.build
  gio/meson.build
  gio/tests/meson.build
  glib/meson.build
  gobject/meson.build
  meson.build
Owners: @smcv, @pwithnall, @xclaesse, @nirbheek, @ebassi, @sdroege

gerror: Add a docs paragraph about not displaying errors verbatim in UI
  glib/gerror.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Add a test for peer-to-peer GDBusProxy usage with a bus name
  gio/tests/gdbus-peer.c
Owners: @pwithnall, @ebassi

ci: Update the MSVC build script
  .gitlab-ci/test-msvc.bat
Owners: @fanc999, @creiter, @pwithnall, @sdroege

ci: Update the MingW Docker image
  .gitlab-ci/mingw.Dockerfile
Owners: @pwithnall, @xclaesse, @creiter

doc: Add some empty lines to unbreak gtkdoc
  gio/gasyncinitable.h
  gio/ginitable.h
  glib/gtestutils.h
  gobject/gobject.h
Owners: @pwithnall, @ebassi, @sdroege

Allow guid key in dbus addresses
  gio/gdbusaddress.c
  gio/tests/gdbus-addresses.c
Owners: @smcv, @pwithnall, @ebassi

tests: Ignore deprecated functions in parts of GDateTime tests
  glib/tests/gdatetime.c
Owners: @ebassi, @pwithnall, @sdroege

doc: Ignore dirent.h which is not part of our API
  docs/reference/glib/meson.build
Owners: @ebassi, @pwithnall, @sdroege

gptrarray: Set free func on copied array in g_ptr_array_copy()
  glib/garray.c
Owners: @ebassi, @pwithnall, @sdroege

gdatetime: Stop using deprecated g_get_current_time()
  glib/gdatetime.c
Owners: @ebassi, @pwithnall, @sdroege

docs: Remove mentions of mailing lists
  docs/reference/glib/resources.xml
Owners: @ebassi, @pwithnall, @sdroege

Updated Lithuanian translation
  po/lt.po
Owners: @pwithnall, @ebassi

docs/CODEOWNERS:

# These are the people responsible for subsystems in GLib; if you're opening
# a merge request for files listed here, please add the following people to
# the list of reviewers

# The syntax of this file is defined by GitLab:
#   https://docs.gitlab.com/ee/user/project/code_owners.html
# Which, in turn, is similar to the .gitignore and .gitattributes files:
#
#  - comments start with `#`
#  - the first column contains paths and globs
#  - the second column contains GitLab user names or email addresses,
#    separated by spaces
#
# The last matching glob (rather than the union of *all* matching globs) gives
# the owners of a piece of code.
#
# If you want to be responsible for code reviews in specific sections of
# the GLib code base, add yourself here.

# Overall maintainers
*	@pwithnall @ebassi

# Build system
meson.build		@xclaesse @nirbheek @pwithnall
meson_options.txt	@xclaesse @nirbheek @pwithnall
subprojects/		@xclaesse @nirbheek @pwithnall

# CI integration
.gitlab-ci*	@pwithnall @xclaesse @creiter

# macOS support
*osx*	@jralls @pwithnall @sdroege
*.m	@jralls @pwithnall @sdroege

# Windows support
*win32*	@lrn @creiter @fanc999 @pwithnall @sdroege

# Windows support (MSVC specific)
*msvc*	@fanc999 @creiter @pwithnall @sdroege

# Android support
*android*	@xclaesse @pwithnall @sdroege

# BSD support
*bsd*		@jmatthew @ajacoutot @lantw @pwithnall
*kqueue*	@jmatthew @ajacoutot @lantw @pwithnall

# flatpak portals
gio/*portal*	@matthiasc @alexl @pwithnall

# Networking
gio/g*{tcp,udp,tls,socket,resolver,proxy,network,inet,datagram}*	@mcatanzaro @pgriffis @pwithnall @sdroege

# D-Bus
gio/g*bus*	@smcv @pwithnall

# I/O
gio/g*{file,vfs,mount,drive,volume}*	@oholy @alexl @pwithnall @sdroege
gio/g*stream*				@alexl @pwithnall @sdroege
gio/gio-tool*				@oholy @alexl @pwithnall

# Generic bits of GLib
glib/	@ebassi @pwithnall @sdroege

# GObject type system
gobject/	@ebassi @pwithnall @sdroege

# GVariant
glib/gvariant*	@pwithnall @sdroege

# grefcount, GRcBox and GRefString
glib/gref{count,string}.[ch]	@ebassi @pwithnall @sdroege
glib/grc*.[ch]			@ebassi @pwithnall @sdroege
glib/garc*.[ch]			@ebassi @pwithnall @sdroege

# Logging
glib/gmessages.[ch]	@pwithnall @sdroege

# Google clusterfuzz support
fuzzing/	@pwithnall
