Repository GNOME/glib, changes with the owners that docs/CODEOWNERS names for each.
All owners: @pwithnall, @ebassi, @xclaesse, @nirbheek, @creiter, @jralls, @sdroege, @lrn, @fanc999, @jmatthew, @ajacoutot, @lantw, @matthiasc, @alexl, @mcatanzaro, @pgriffis, @smcv, @oholy

docs/CODEOWNERS:

# These are the people responsible for subsystems in GLib; if you're opening
# a merge request for files listed here, please add the following people to
# the list of reviewers

# The syntax of this file is defined by GitLab:
#   https://docs.gitlab.com/ee/user/project/code_owners.html
# Which, in turn, is similar to the .gitignore and .gitattributes files:
#
#  - comments start with `#`
#  - the first column contains paths and globs
#  - the second column contains GitLab user names or email addresses,
#    separated by spaces
#
# The last matching glob (rather than the union of *all* matching globs) gives
# the owners of a piece of code.
#
# If you want to be responsible for code reviews in specific sections of
# the GLib code base, add yourself here.

# Overall maintainers
*	@pwithnall @ebassi

# Build system
meson.build		@xclaesse @nirbheek @pwithnall
meson_options.txt	@xclaesse @nirbheek @pwithnall
subprojects/		@xclaesse @nirbheek @pwithnall

# CI integration
.gitlab-ci*	@pwithnall @xclaesse @creiter

# macOS support
*osx*	@jralls @pwithnall @sdroege
*.m	@jralls @pwithnall @sdroege

# Windows support
*win32*	@lrn @creiter @fanc999 @pwithnall @sdroege

# Windows support (MSVC specific)
*msvc*	@fanc999 @creiter @pwithnall @sdroege

# Android support
*android*	@xclaesse @pwithnall @sdroege

# BSD support
*bsd*		@jmatthew @ajacoutot @lantw @pwithnall
*kqueue*	@jmatthew @ajacoutot @lantw @pwithnall

# flatpak portals
gio/*portal*	@matthiasc @alexl @pwithnall

# Networking
gio/g*{tcp,udp,tls,socket,resolver,proxy,network,inet,datagram}*	@mcatanzaro @pgriffis @pwithnall @sdroege

# D-Bus
gio/g*bus*	@smcv @pwithnall

# I/O
gio/g*{file,vfs,mount,drive,volume}*	@oholy @alexl @pwithnall @sdroege
gio/g*stream*				@alexl @pwithnall @sdroege
gio/gio-tool*				@oholy @alexl @pwithnall

# Generic bits of GLib
glib/	@ebassi @pwithnall @sdroege

# GObject type system
gobject/	@ebassi @pwithnall @sdroege

# GVariant
glib/gvariant*	@pwithnall @sdroege

# grefcount, GRcBox and GRefString
glib/gref{count,string}.[ch]	@ebassi @pwithnall @sdroege
glib/grc*.[ch]			@ebassi @pwithnall @sdroege
glib/garc*.[ch]			@ebassi @pwithnall @sdroege

# Logging
glib/gmessages.[ch]	@pwithnall @sdroege

# Google clusterfuzz support
fuzzing/	@pwithnall

build: Refactor resources test build instructions
  gio/tests/meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

tests: Add unit tests for g_queue_push_nth_link()
  glib/tests/queue.c
Owners: @ebassi, @pwithnall, @sdroege

queue: add g_queue_insert_before_link() and g_queue_insert_after_link()
  docs/reference/glib/glib-sections.txt
  glib/gqueue.c
  glib/gqueue.h
  glib/tests/queue.c
Owners: @ebassi, @pwithnall, @sdroege

build: Fix some whitespace problems in gio/tests/meson.build
  gio/tests/meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

gdesktopappinfo: Add support for MATE and Xfce4 terminals
  gio/gdesktopappinfo.c
Owners: @pwithnall, @ebassi

tests: Add a test for calling g_queue_clear_full() with a NULL free_func
  glib/tests/queue.c
Owners: @ebassi, @pwithnall, @sdroege

Use W32 visibility for Cygwin
  meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

gdbusprivate: Clarify GDBusMessage ownership transfers
  gio/gdbusprivate.c
Owners: @smcv, @pwithnall

Fix use-after-free triggered by gnome-session-binary
  gio/gdbusprivate.c
Owners: @smcv, @pwithnall

build: Improve tests for frexpl() and ldexpl()
  glib/gnulib/frexpl.c
  glib/gnulib/gl_cv_func_frexpl_works/meson.build
  glib/gnulib/gl_cv_func_ldexpl_works/meson.build
  glib/gnulib/meson.build
Owners: @ebassi, @pwithnall, @sdroege

gslice: Use a convenience macro
  glib/gslice.c
Owners: @ebassi, @pwithnall, @sdroege

gdbus-tool: Colorize the output of "introspect"
  gio/gdbus-tool.c
Owners: @smcv, @pwithnall

Updated Spanish translation
  po/es.po
Owners: @pwithnall, @ebassi

gthreadedsocketservice: Tidy up property declarations
  gio/gthreadedsocketservice.c
Owners: @pwithnall, @ebassi

Update Basque translation
  po/eu.po
Owners: @pwithnall, @ebassi

ci: Update the Docker image for Fedora
  .gitlab-ci/Dockerfile
Owners: @pwithnall, @xclaesse, @creiter

cocoanotificationbackend: do not release readonly property
  gio/gcocoanotificationbackend.m
Owners: @jralls, @pwithnall, @sdroege

Update Catalan translation
  po/ca.po
Owners: @pwithnall, @ebassi

gthreadedsocketservice: Move obj reference to per-job data
  gio/gthreadedsocketservice.c
Owners: @pwithnall, @ebassi

Formating test cases to the new standards
  glib/tests/unicode.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Rearrange assertions in the g_queue_clear_full() test
  glib/tests/queue.c
Owners: @ebassi, @pwithnall, @sdroege

.gitlab-ci/test-msvc.bat: Generate cover report for tests
  .gitlab-ci/test-msvc.bat
Owners: @fanc999, @creiter, @pwithnall, @sdroege

ci: Keep JUnit report script working on Debian stable
  .gitlab-ci/meson-junit-report.py
Owners: @pwithnall, @xclaesse, @creiter

tests: Update month name check for Greek locale
  glib/tests/date.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Add a test for g_content_type_guess() with no arguments
  gio/tests/contenttype.c
Owners: @pwithnall, @ebassi

glib-compile-schemas: Fix capitalisation of a command line option help
  gio/glib-compile-schemas.c
Owners: @pwithnall, @ebassi

tests: Add basic test for glib-genmarshal
  gobject/tests/genmarshal.py
  gobject/tests/meson.build
Owners: @ebassi, @pwithnall, @sdroege

gsettings: Document that lists are returned in no defined order
  gio/gsettings.c
  gio/gsettingsschema.c
Owners: @pwithnall, @ebassi

Clamp number of vectors to IOV_MAX / UIO_MAXIOV for GOutputStream writev() calls in the implementations
  gio/gioprivate.h
  gio/glocalfileoutputstream.c
  gio/gsocket.c
  gio/gsocketoutputstream.c
  gio/gunixoutputstream.c
Owners: @pwithnall, @ebassi, @alexl, @sdroege

ci: Add scan-build job in a new ‘analysis’ pipeline stage
  .gitlab-ci.yml
Owners: @pwithnall, @xclaesse, @creiter

gdbusserver: Drop reference to non-existing function from documentation
  gio/gdbusserver.c
Owners: @smcv, @pwithnall

Update gdb pretty-printer for GHashTable
  glib/glib_gdb.py
Owners: @ebassi, @pwithnall, @sdroege

tests: Use g_assert_*() instead of g_assert() in contenttype tests
  gio/tests/contenttype.c
Owners: @pwithnall, @ebassi

gdesktopappinfo: Improve documentation formatting slightly
  gio/gdesktopappinfo.c
Owners: @pwithnall, @ebassi

gisgnal: Add g_clear_signal_handler
  docs/reference/gobject/gobject-sections.txt
  gobject/gsignal.c
  gobject/gsignal.h
Owners: @ebassi, @pwithnall, @sdroege

gdbus-example-peer: Provide an example GDBusAuthObserver
  gio/tests/gdbus-example-peer.c
Owners: @pwithnall, @ebassi

gnetworkaddress: Fix parallel enumerations interfering with eachother
  gio/gnetworkaddress.c
  gio/tests/network-address.c
Owners: @pwithnall, @ebassi

gdbusdaemon: Only authorize anonymous users on Windows, not Unix
  gio/gdbusdaemon.c
Owners: @smcv, @pwithnall

ci: Run scan-build in a different build directory
  .gitlab-ci.yml
Owners: @pwithnall, @xclaesse, @creiter

Allow calling get_property() with an uninitialized GValue
  gobject/gobject.c
  gobject/tests/properties.c
Owners: @ebassi, @pwithnall, @sdroege
