Repository GNOME/glib, changes with the owners that docs/CODEOWNERS names for each.
All owners: @pwithnall, @ebassi, @xclaesse, @nirbheek, @creiter, @jralls, @sdroege, @lrn, @fanc999, @jmatthew, @ajacoutot, @lantw, @matthiasc, @alexl, @mcatanzaro, @pgriffis, @smcv, @oholy

docs/CODEOWNERS:

# These are the people responsible for subsystems in GLib; if you're opening
# a merge request for files listed here, please add the following people to
# the list of reviewers

# The syntax of this file is defined by GitLab:
#   https://docs.gitlab.com/ee/user/project/code_owners.html
# Which, in turn, is similar to the .gitignore and .gitattributes files:
#
#  - comments start with `#`
#  - the first column contains paths and globs
#  - the second column contains GitLab user names or email addresses,
#    separated by spaces
#
# The last matching glob (rather than the union of *all* matching globs) gives
# the owners of a piece of code.
#
# If you want to be responsible for code reviews in specific sections of
# the GLib code base, add yourself here.

# Overall maintainers
*	@pwithnall @ebassi

# Build system
meson.build		@xclaesse @nirbheek @pwithnall
meson_options.txt	@xclaesse @nirbheek @pwithnall
subprojects/		@xclaesse @nirbheek @pwithnall

# CI integration
.gitlab-ci*	@pwithnall @xclaesse @creiter

# macOS support
*osx*	@jralls @pwithnall @sdroege
*.m	@jralls @pwithnall @sdroege

# Windows support
*win32*	@lrn @creiter @fanc999 @pwithnall @sdroege

# Windows support (MSVC specific)
*msvc*	@fanc999 @creiter @pwithnall @sdroege

# Android support
*android*	@xclaesse @pwithnall @sdroege

# BSD support
*bsd*		@jmatthew @ajacoutot @lantw @pwithnall
*kqueue*	@jmatthew @ajacoutot @lantw @pwithnall

# flatpak portals
gio/*portal*	@matthiasc @alexl @pwithnall

# Networking
gio/g*{tcp,udp,tls,socket,resolver,proxy,network,inet,datagram}*	@mcatanzaro @pgriffis @pwithnall @sdroege

# D-Bus
gio/g*bus*	@smcv @pwithnall

# I/O
gio/g*{file,vfs,mount,drive,volume}*	@oholy @alexl @pwithnall @sdroege
gio/g*stream*				@alexl @pwithnall @sdroege
gio/gio-tool*				@oholy @alexl @pwithnall

# Generic bits of GLib
glib/	@ebassi @pwithnall @sdroege

# GObject type system
gobject/	@ebassi @pwithnall @sdroege

# GVariant
glib/gvariant*	@pwithnall @sdroege

# grefcount, GRcBox and GRefString
glib/gref{count,string}.[ch]	@ebassi @pwithnall @sdroege
glib/grc*.[ch]			@ebassi @pwithnall @sdroege
glib/garc*.[ch]			@ebassi @pwithnall @sdroege

# Logging
glib/gmessages.[ch]	@pwithnall @sdroege

# Google clusterfuzz support
fuzzing/	@pwithnall

gapplication: remove inactivity_timeout source on finalize
  gio/gapplication.c
Owners: @pwithnall, @ebassi

Update Basque translation
  po/eu.po
Owners: @pwithnall, @ebassi

Updated Spanish translation
  po/es.po
Owners: @pwithnall, @ebassi

docs: Mention environment variables in `gio open` documentation
  docs/reference/gio/gio.xml
Owners: @pwithnall, @ebassi

glib: Stop using g_get_current_time() in various places
  glib/gfileutils.c
  glib/grand.c
  glib/gslice.c
Owners: @ebassi, @pwithnall, @sdroege

gdesktopappinfo: Update calling convention for `gnome-terminal`
  gio/gdesktopappinfo.c
Owners: @pwithnall, @ebassi

Update Indonesian translation
  po/id.po
Owners: @pwithnall, @ebassi

Updated Spanish translation
  po/es.po
Owners: @pwithnall, @ebassi

Update German translation
  po/de.po
Owners: @pwithnall, @ebassi

tests: Stop using deprecated g_get_current_time()
  gio/tests/gdbus-threading.c
  gio/tests/send-data.c
Owners: @pwithnall, @ebassi

Update Catalan translation
  po/ca.po
Owners: @pwithnall, @ebassi

garray: Rewrite binary search calculation to avoid integer overflow
  glib/garray.c
Owners: @ebassi, @pwithnall, @sdroege

gfileinfo: Stop using deprecated GTimeVal
  gio/gfileinfo.c
Owners: @pwithnall, @ebassi

Update Catalan translation
  po/ca.po
Owners: @pwithnall, @ebassi

gdate: Deprecate methods which use GTimeVal
  glib/gdate.c
  glib/gdate.h
Owners: @ebassi, @pwithnall, @sdroege

gmessages: Only use structured logs if GLIB_VERSION_MAX_ALLOWED is ≥2.56
  glib/gmessages.h
Owners: @ebassi, @pwithnall, @sdroege

docs: Remove mentions of mailing lists
  README.md
Owners: @pwithnall, @ebassi

gdatetime: Add g_date_time_format_iso8601() convenience function
  docs/reference/glib/glib-sections.txt
  glib/gdatetime.c
  glib/gdatetime.h
  glib/tests/gdatetime.c
Owners: @ebassi, @pwithnall, @sdroege

gnetworkmonitornm: Arguments to g-signal's callback are const
  gio/gnetworkmonitornm.c
Owners: @pwithnall, @ebassi

Update French translation
  po/fr.po
Owners: @pwithnall, @ebassi

g_object_get_property: Clarify meaning of G_TYPE_INVALID
  gobject/gobject.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Fix array length calculations in array tests
  glib/tests/array-test.c
Owners: @ebassi, @pwithnall, @sdroege

gfileutils: Try creating complete path first
  glib/gfileutils.c
Owners: @ebassi, @pwithnall, @sdroege

Update British English translation
  po/en_GB.po
Owners: @pwithnall, @ebassi

gnetworkmonitornm: Disconnect g-signal from proxy
  gio/gnetworkmonitornm.c
Owners: @pwithnall, @ebassi

gmain: Add deprecation ignore guards around other GTimeVal usage
  glib/gmain.c
Owners: @ebassi, @pwithnall, @sdroege

gio/glib-compile-resources.c: Unref objects in error path
  gio/glib-compile-resources.c
Owners: @pwithnall, @ebassi

windows: Move G_WINAPI_ONLY_APP to config.h
  gmodule/gmodule-win32.c
  meson.build
Owners: @lrn, @creiter, @fanc999, @pwithnall, @sdroege, @xclaesse, @nirbheek

glib-compile-schemas: Fix some minor en_GB-isms in translatable strings
  gio/glib-compile-schemas.c
Owners: @pwithnall, @ebassi

doc: Split API reference per platform
  docs/reference/gio/concat-files-helper.py
  docs/reference/gio/gio-docs-unix.xml
  docs/reference/gio/gio-docs-win32.xml
  docs/reference/gio/gio-docs.xml
  docs/reference/gio/gio-sections-common.txt
  docs/reference/gio/gio-sections-win32.txt
  docs/reference/gio/meson.build
Owners: @pwithnall, @ebassi, @lrn, @creiter, @fanc999, @sdroege, @xclaesse, @nirbheek

gmain: Swap implementations of g_get_current_time() + g_get_real_time()
  glib/gmain.c
Owners: @ebassi, @pwithnall, @sdroege

Update Polish translation
  po/pl.po
Owners: @pwithnall, @ebassi

cond test: Don't make assumptions about struct sigaction member order
  glib/tests/cond.c
Owners: @ebassi, @pwithnall, @sdroege

Use GitLab to reserve a new fundamental type slot
  gobject/gtype.h
Owners: @ebassi, @pwithnall, @sdroege

gdatetime: Deprecate GDateTime API which uses GTimeVal
  glib/gdatetime.c
  glib/gdatetime.h
Owners: @ebassi, @pwithnall, @sdroege

ci: Fix non-build jobs
  .gitlab-ci.yml
Owners: @pwithnall, @xclaesse, @creiter

Optimize g_nearest_pow() function in glib/garray.c
  glib/garray.c
Owners: @ebassi, @pwithnall, @sdroege

gbookmarkfile: Use GDateTime instead of GTimeVal internally
  glib/gbookmarkfile.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Add missing array length checks
  glib/tests/array-test.c
Owners: @ebassi, @pwithnall, @sdroege

win32: don't assume the format specifier for the stdlib printf/scanf like functions
  glib/gwin32-private.c
  glib/gwin32.c
  tests/type-test.c
Owners: @ebassi, @pwithnall, @sdroege
