Repository GNOME/glib, changes with the owners that docs/CODEOWNERS names for each.
All owners: @pwithnall, @ebassi, @xclaesse, @nirbheek, @creiter, @jralls, @sdroege, @lrn, @fanc999, @jmatthew, @ajacoutot, @lantw, @matthiasc, @alexl, @mcatanzaro, @pgriffis, @smcv, @oholy

ci: Rename the Fedora Dockerfile
  .gitlab-ci/fedora.Dockerfile
Owners: @pwithnall, @xclaesse, @creiter

glist: code style cleanup for g_list_insert_before()
  glib/glist.c
Owners: @ebassi, @pwithnall, @sdroege

Fix some documentation issue in glib/gstrfuncs.c
  glib/gstrfuncs.c
Owners: @ebassi, @pwithnall, @sdroege

Revert "macros: Try to use the standard __func__ first in G_STRFUNC"
  glib/gmacros.h
Owners: @ebassi, @pwithnall, @sdroege

W32: swap special g_get_prgname() for platform_get_argv0()
  glib/goption.c
  glib/gutils.c
  glib/tests/option-argv0.c
Owners: @ebassi, @pwithnall, @sdroege

gsocketclient: Fix potential critical when cancelling connect
  gio/gsocketclient.c
Owners: @pwithnall, @ebassi

build: Check for more math.h functions in gnulib
  glib/gnulib/isinf.c
  glib/gnulib/isnanf-nolibm.h
  glib/gnulib/isnanf.c
  glib/gnulib/meson.build
  glib/gnulib/signbitd.c
  glib/gnulib/signbitf.c
  glib/gnulib/signbitl.c
Owners: @ebassi, @pwithnall, @sdroege

ci: Beef up run-docker.sh
  .gitlab-ci/run-docker.sh
Owners: @pwithnall, @xclaesse, @creiter

ci: Add an Android NDK Docker image
  .gitlab-ci/android-ndk.Dockerfile
Owners: @xclaesse, @pwithnall, @sdroege

gproxy: Add a missing ‘the’ to a documentation comment
  gio/gproxy.c
Owners: @pwithnall, @ebassi

ci: Add clang and scan-build
  .gitlab-ci/Dockerfile
Owners: @pwithnall, @xclaesse, @creiter

gnetworkmonitornm: Fix network available detection
  gio/gnetworkmonitornm.c
Owners: @pwithnall, @ebassi

tests: Unmark several gdbus-* tests as flaky
  gio/tests/meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

Fix the "/proc/self/cmdline" test
  meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

tests: Check that option-argv0 test succeeds on Linux
  glib/tests/option-argv0.c
Owners: @ebassi, @pwithnall, @sdroege

Check for RTLD_NEXT
  gio/tests/meson.build
  meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

docs: Add GLib 2.62 symbols to glib-docs.xml
  docs/reference/glib/glib-docs.xml
Owners: @ebassi, @pwithnall, @sdroege

glib: Update Unicode Character Database to version 12.1.0
  glib/gscripttable.h
  glib/gunibreak.h
  glib/gunichartables.h
  glib/gunidecomp.h
  tests/casefold.txt
  tests/casemap.txt
Owners: @ebassi, @pwithnall, @sdroege

gtestutils: Test the combination of --tap and --GTestSkipCount
  glib/tests/testing.c
Owners: @ebassi, @pwithnall, @sdroege

Only build tests if certain conditions are met.
  gio/meson.build
  glib/meson.build
  gobject/meson.build
  meson.build
Owners: @xclaesse, @nirbheek, @pwithnall, @ebassi, @sdroege

ci: Add a debian-stable job
  .gitlab-ci.yml
Owners: @pwithnall, @xclaesse, @creiter

CI: Run test coverage for Visual Studio builds
  .gitlab-ci.yml
Owners: @pwithnall, @xclaesse, @creiter

gcocoanotificationbackend: give more priority than the gtk one
  gio/gcocoanotificationbackend.m
Owners: @jralls, @pwithnall, @sdroege

gsocket: Clarify in docs that `flags` arguments can be platform specific
  gio/gsocket.c
Owners: @pwithnall, @ebassi

tests: Increase buffer size for g_strlcat() tests
  glib/tests/strfuncs.c
Owners: @ebassi, @pwithnall, @sdroege

Set G_WITH_CYGWIN again
  meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

glib/gconstructor.h: Include stdlib.h for MSVC builds
  glib/gconstructor.h
Owners: @ebassi, @pwithnall, @sdroege

Properly ensure the cocoa notification backend type
  gio/giomodule.c
Owners: @pwithnall, @ebassi

tests: Remove redundant non-NULL checks in g_strlcat() test
  glib/tests/strfuncs.c
Owners: @ebassi, @pwithnall, @sdroege

gqueue: Remove a redundant branch
  glib/gqueue.c
Owners: @ebassi, @pwithnall, @sdroege

gresolver: Convert encoding of gai_strerror() return value
  gio/gresolver.c
  gio/gthreadedresolver.c
Owners: @pwithnall, @ebassi

docs: Expand introduction to boxed types
  gobject/gboxed.c
Owners: @ebassi, @pwithnall, @sdroege

list: add g_list_insert_before_link()
  docs/reference/glib/glib-sections.txt
  glib/glist.c
  glib/glist.h
  glib/tests/list.c
Owners: @ebassi, @pwithnall, @sdroege

Improving code coverage of glib/guniprop.c
  glib/tests/unicode.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Add checks for buffer sizing in g_strlcat() tests
  glib/tests/strfuncs.c
Owners: @ebassi, @pwithnall, @sdroege

gappinfo: Add precondition checks to GAppLaunchContext env methods
  gio/gappinfo.c
Owners: @pwithnall, @ebassi

general: Remove a few unhelpful references to ‘master’
  docs/reference/gobject/tut_tools.xml
  gio/gnetworkaddress.c
  gio/tests/gapplication.c
  gio/tests/socket-client.c
  gio/tests/socket-server.c
Owners: @ebassi, @pwithnall, @sdroege

glib: Update Unicode Character Database to version 12.0.0
  glib/gscripttable.h
  glib/gunibreak.h
  glib/gunichartables.h
  glib/gunicode.h
  glib/gunidecomp.h
  glib/guniprop.c
  glib/tests/unicode.c
  tests/casefold.txt
  tests/casemap.txt
Owners: @ebassi, @pwithnall, @sdroege

ci: Add Debian stable Docker image
  .gitlab-ci/debian-stable.Dockerfile
Owners: @pwithnall, @xclaesse, @creiter

ci: Run test coverage for MSYS2 job
  .gitlab-ci.yml
  .gitlab-ci/test-msys2.sh
Owners: @pwithnall, @xclaesse, @creiter

docs/CODEOWNERS:

# These are the people responsible for subsystems in GLib; if you're opening
# a merge request for files listed here, please add the following people to
# the list of reviewers

# The syntax of this file is defined by GitLab:
#   https://docs.gitlab.com/ee/user/project/code_owners.html
# Which, in turn, is similar to the .gitignore and .gitattributes files:
#
#  - comments start with `#`
#  - the first column contains paths and globs
#  - the second column contains GitLab user names or email addresses,
#    separated by spaces
#
# The last matching glob (rather than the union of *all* matching globs) gives
# the owners of a piece of code.
#
# If you want to be responsible for code reviews in specific sections of
# the GLib code base, add yourself here.

# Overall maintainers
*	@pwithnall @ebassi

# Build system
meson.build		@xclaesse @nirbheek @pwithnall
meson_options.txt	@xclaesse @nirbheek @pwithnall
subprojects/		@xclaesse @nirbheek @pwithnall

# CI integration
.gitlab-ci*	@pwithnall @xclaesse @creiter

# macOS support
*osx*	@jralls @pwithnall @sdroege
*.m	@jralls @pwithnall @sdroege

# Windows support
*win32*	@lrn @creiter @fanc999 @pwithnall @sdroege

# Windows support (MSVC specific)
*msvc*	@fanc999 @creiter @pwithnall @sdroege

# Android support
*android*	@xclaesse @pwithnall @sdroege

# BSD support
*bsd*		@jmatthew @ajacoutot @lantw @pwithnall
*kqueue*	@jmatthew @ajacoutot @lantw @pwithnall

# flatpak portals
gio/*portal*	@matthiasc @alexl @pwithnall

# Networking
gio/g*{tcp,udp,tls,socket,resolver,proxy,network,inet,datagram}*	@mcatanzaro @pgriffis @pwithnall @sdroege

# D-Bus
gio/g*bus*	@smcv @pwithnall

# I/O
gio/g*{file,vfs,mount,drive,volume}*	@oholy @alexl @pwithnall @sdroege
gio/g*stream*				@alexl @pwithnall @sdroege
gio/gio-tool*				@oholy @alexl @pwithnall

# Generic bits of GLib
glib/	@ebassi @pwithnall @sdroege

# GObject type system
gobject/	@ebassi @pwithnall @sdroege

# GVariant
glib/gvariant*	@pwithnall @sdroege

# grefcount, GRcBox and GRefString
glib/gref{count,string}.[ch]	@ebassi @pwithnall @sdroege
glib/grc*.[ch]			@ebassi @pwithnall @sdroege
glib/garc*.[ch]			@ebassi @pwithnall @sdroege

# Logging
glib/gmessages.[ch]	@pwithnall @sdroege

# Google clusterfuzz support
fuzzing/	@pwithnall
