Repository GNOME/glib, changes with the owners that docs/CODEOWNERS names for each.
All owners: @pwithnall, @ebassi, @xclaesse, @nirbheek, @creiter, @jralls, @sdroege, @lrn, @fanc999, @jmatthew, @ajacoutot, @lantw, @matthiasc, @alexl, @mcatanzaro, @pgriffis, @smcv, @oholy

GDBusAuthObserver: Document how to restrict authentication to EXTERNAL
  gio/gdbusauthobserver.c
Owners: @smcv, @pwithnall

2.61.1
  NEWS
Owners: @pwithnall, @ebassi

gdate: Drop unnecessary use of G_DISABLE_DEPRECATED
  glib/gdate.h
Owners: @ebassi, @pwithnall, @sdroege

tests: Set locale in gtestutils tests to allow UTF-8 output
  glib/tests/testing-helper.c
  glib/tests/testing.c
Owners: @ebassi, @pwithnall, @sdroege

glib: Move some documentation comments to where the symbols are defined
  glib/docs.c
  glib/gmacros.h
Owners: @ebassi, @pwithnall, @sdroege

gnetworkmonitornm: Consider NM_STATE_CONNECTED_SITE to be available
  gio/gnetworkmonitornm.c
Owners: @pwithnall, @ebassi

ghash: do less work when destroying the table
  glib/ghash.c
Owners: @ebassi, @pwithnall, @sdroege

build: Add installed-tests support for mkenums.py
  gobject/tests/meson.build
Owners: @ebassi, @pwithnall, @sdroege

gdate: Officially mark GTime as deprecated
  glib/gdate.c
Owners: @ebassi, @pwithnall, @sdroege

Fixing g_format_size() on Windows
  glib/gutils.c
Owners: @ebassi, @pwithnall, @sdroege

tests, signals: Add tests for g_clear_signal_handler
  gobject/tests/signals.c
Owners: @ebassi, @pwithnall, @sdroege

gsocketclient: Fix a leak in the connection code
  gio/gsocketclient.c
Owners: @pwithnall, @ebassi

docs: Document pitfall of deprecation pragmas
  glib/docs.c
Owners: @ebassi, @pwithnall, @sdroege

Handling U+0000 explicitely to avoid collision with other cases
  glib/guniprop.c
Owners: @ebassi, @pwithnall, @sdroege

Fix typo in German translation
  po/de.po
Owners: @pwithnall, @ebassi

gunicollate: work around FreeBSD wchar_t not matching our gunichar type
  glib/gunicollate.c
Owners: @ebassi, @pwithnall, @sdroege

gobject: Fix apostrophe usage in a few small bits of documentation
  gobject/gboxed.c
  gobject/gobject.c
  gobject/gparam.c
Owners: @ebassi, @pwithnall, @sdroege

glib-genmarshal: Avoid a string copy for static string valist arguments
  gobject/glib-genmarshal.in
  gobject/tests/genmarshal.py
Owners: @ebassi, @pwithnall, @sdroege

gmain: Clarify that g_source_destroy() doesn’t drop a reference
  glib/gmain.c
Owners: @ebassi, @pwithnall, @sdroege

build: (Long time after) post-release version bump
  meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

network-address test: add ipv6-fail ipv4-slow case
  gio/tests/network-address.c
Owners: @pwithnall, @ebassi

Fix various deprecation warnings in code and tests
  gio/giomodule.c
  glib/deprecated/gcache.c
  tests/asyncqueue-test.c
  tests/testglib.c
Owners: @pwithnall, @ebassi, @sdroege

Update Hungarian translation
  po/hu.po
Owners: @pwithnall, @ebassi

gfileinfo: Add missing (nullable) annotation to get_attribute_as_string()
  gio/gfileinfo.c
Owners: @pwithnall, @ebassi

docs: Improve formatting of g_autoptr() documentation
  glib/docs.c
Owners: @ebassi, @pwithnall, @sdroege

xdgmime: Don’t set an out argument if it’s NULL
  gio/xdgmime/xdgmime.c
Owners: @pwithnall, @ebassi

tests: Don’t use a deprecated Unicode character type enumerator
  glib/tests/unicode.c
Owners: @ebassi, @pwithnall, @sdroege

gmacros: Add GLIB_DEPRECATED_{MACRO,ENUMERATOR,TYPE}{,_FOR}
  glib/gmacros.h
  glib/gversionmacros.h
Owners: @ebassi, @pwithnall, @sdroege

gfileinfo: Slightly improve documentation formatting
  gio/gfileinfo.c
Owners: @pwithnall, @ebassi

gtimezone: Stop using deprecated API
  glib/gtimezone.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Fix small race in GSubprocess tests
  gio/tests/gsubprocess.c
Owners: @pwithnall, @ebassi

ghash: Improve internal documentation
  glib/ghash.c
Owners: @ebassi, @pwithnall, @sdroege

gdbusserver: Use g_clear_signal_handler
  gio/gdbusserver.c
Owners: @smcv, @pwithnall

Add the corresponding test for g_unichar_totitle(0)
  glib/tests/unicode.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Use a temporary directory for testfilemonitor
  gio/tests/testfilemonitor.c
Owners: @pwithnall, @ebassi

build: Fix a typo in the test whether _NL_ABALTMON_n is supported
  meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

gunicollate/cygwin: Don't use __STDC_ISO_10646__ for wchar_t related checks
  glib/gunicollate.c
  meson.build
Owners: @ebassi, @pwithnall, @sdroege, @xclaesse, @nirbheek

ghash: Disable small-arrays under valgrind
  glib/ghash.c
Owners: @ebassi, @pwithnall, @sdroege

glib-compile-schemas: Improve translatable strings
  gio/glib-compile-schemas.c
Owners: @pwithnall, @ebassi

Fixing g_format_size_full() on Windows-x64
  glib/gutils.c
Owners: @ebassi, @pwithnall, @sdroege

docs/CODEOWNERS:

# These are the people responsible for subsystems in GLib; if you're opening
# a merge request for files listed here, please add the following people to
# the list of reviewers

# The syntax of this file is defined by GitLab:
#   https://docs.gitlab.com/ee/user/project/code_owners.html
# Which, in turn, is similar to the .gitignore and .gitattributes files:
#
#  - comments start with `#`
#  - the first column contains paths and globs
#  - the second column contains GitLab user names or email addresses,
#    separated by spaces
#
# The last matching glob (rather than the union of *all* matching globs) gives
# the owners of a piece of code.
#
# If you want to be responsible for code reviews in specific sections of
# the GLib code base, add yourself here.

# Overall maintainers
*	@pwithnall @ebassi

# Build system
meson.build		@xclaesse @nirbheek @pwithnall
meson_options.txt	@xclaesse @nirbheek @pwithnall
subprojects/		@xclaesse @nirbheek @pwithnall

# CI integration
.gitlab-ci*	@pwithnall @xclaesse @creiter

# macOS support
*osx*	@jralls @pwithnall @sdroege
*.m	@jralls @pwithnall @sdroege

# Windows support
*win32*	@lrn @creiter @fanc999 @pwithnall @sdroege

# Windows support (MSVC specific)
*msvc*	@fanc999 @creiter @pwithnall @sdroege

# Android support
*android*	@xclaesse @pwithnall @sdroege

# BSD support
*bsd*		@jmatthew @ajacoutot @lantw @pwithnall
*kqueue*	@jmatthew @ajacoutot @lantw @pwithnall

# flatpak portals
gio/*portal*	@matthiasc @alexl @pwithnall

# Networking
gio/g*{tcp,udp,tls,socket,resolver,proxy,network,inet,datagram}*	@mcatanzaro @pgriffis @pwithnall @sdroege

# D-Bus
gio/g*bus*	@smcv @pwithnall

# I/O
gio/g*{file,vfs,mount,drive,volume}*	@oholy @alexl @pwithnall @sdroege
gio/g*stream*				@alexl @pwithnall @sdroege
gio/gio-tool*				@oholy @alexl @pwithnall

# Generic bits of GLib
glib/	@ebassi @pwithnall @sdroege

# GObject type system
gobject/	@ebassi @pwithnall @sdroege

# GVariant
glib/gvariant*	@pwithnall @sdroege

# grefcount, GRcBox and GRefString
glib/gref{count,string}.[ch]	@ebassi @pwithnall @sdroege
glib/grc*.[ch]			@ebassi @pwithnall @sdroege
glib/garc*.[ch]			@ebassi @pwithnall @sdroege

# Logging
glib/gmessages.[ch]	@pwithnall @sdroege

# Google clusterfuzz support
fuzzing/	@pwithnall
