Repository GNOME/glib, changes with the owners that docs/CODEOWNERS names for each.
All owners: @pwithnall, @ebassi, @xclaesse, @nirbheek, @creiter, @jralls, @sdroege, @lrn, @fanc999, @jmatthew, @ajacoutot, @lantw, @matthiasc, @alexl, @mcatanzaro, @pgriffis, @smcv, @oholy

docs/CODEOWNERS:

# These are the people responsible for subsystems in GLib; if you're opening
# a merge request for files listed here, please add the following people to
# the list of reviewers

# The syntax of this file is defined by GitLab:
#   https://docs.gitlab.com/ee/user/project/code_owners.html
# Which, in turn, is similar to the .gitignore and .gitattributes files:
#
#  - comments start with `#`
#  - the first column contains paths and globs
#  - the second column contains GitLab user names or email addresses,
#    separated by spaces
#
# The last matching glob (rather than the union of *all* matching globs) gives
# the owners of a piece of code.
#
# If you want to be responsible for code reviews in specific sections of
# the GLib code base, add yourself here.

# Overall maintainers
*	@pwithnall @ebassi

# Build system
meson.build		@xclaesse @nirbheek @pwithnall
meson_options.txt	@xclaesse @nirbheek @pwithnall
subprojects/		@xclaesse @nirbheek @pwithnall

# CI integration
.gitlab-ci*	@pwithnall @xclaesse @creiter

# macOS support
*osx*	@jralls @pwithnall @sdroege
*.m	@jralls @pwithnall @sdroege

# Windows support
*win32*	@lrn @creiter @fanc999 @pwithnall @sdroege

# Windows support (MSVC specific)
*msvc*	@fanc999 @creiter @pwithnall @sdroege

# Android support
*android*	@xclaesse @pwithnall @sdroege

# BSD support
*bsd*		@jmatthew @ajacoutot @lantw @pwithnall
*kqueue*	@jmatthew @ajacoutot @lantw @pwithnall

# flatpak portals
gio/*portal*	@matthiasc @alexl @pwithnall

# Networking
gio/g*{tcp,udp,tls,socket,resolver,proxy,network,inet,datagram}*	@mcatanzaro @pgriffis @pwithnall @sdroege

# D-Bus
gio/g*bus*	@smcv @pwithnall

# I/O
gio/g*{file,vfs,mount,drive,volume}*	@oholy @alexl @pwithnall @sdroege
gio/g*stream*				@alexl @pwithnall @sdroege
gio/gio-tool*				@oholy @alexl @pwithnall

# Generic bits of GLib
glib/	@ebassi @pwithnall @sdroege

# GObject type system
gobject/	@ebassi @pwithnall @sdroege

# GVariant
glib/gvariant*	@pwithnall @sdroege

# grefcount, GRcBox and GRefString
glib/gref{count,string}.[ch]	@ebassi @pwithnall @sdroege
glib/grc*.[ch]			@ebassi @pwithnall @sdroege
glib/garc*.[ch]			@ebassi @pwithnall @sdroege

# Logging
glib/gmessages.[ch]	@pwithnall @sdroege

# Google clusterfuzz support
fuzzing/	@pwithnall

gvariant-parser: Fix pattern coalesce of M and *
  glib/gvariant-parser.c
  glib/tests/gvariant.c
Owners: @pwithnall, @sdroege, @ebassi

glib: Move various documentation comments from docs.c to macros.h
  glib/docs.c
  glib/gmacros.h
Owners: @ebassi, @pwithnall, @sdroege

gtestutils: fix typo in message when stdout is wrong
  glib/gtestutils.c
Owners: @ebassi, @pwithnall, @sdroege

Fixing signedness in glib/gthreadpool.c
  glib/gthreadpool.c
Owners: @ebassi, @pwithnall, @sdroege

docs: Stop formatting integer literals using ‘%’
  gio/ginputstream.c
  gio/gmountoperation.c
  gio/gsocketclient.c
Owners: @alexl, @pwithnall, @sdroege, @ebassi

gdbus, tests, win32: test session dbus autolaunch
  gio/tests/gdbus-address-get-session.c
  gio/tests/meson.build
Owners: @pwithnall, @ebassi, @xclaesse, @nirbheek

Fixing missing initializer in glib/giounix.c
  glib/giounix.c
Owners: @ebassi, @pwithnall, @sdroege

gdbusaddress: Require that transport names and keys are non-empty
  gio/gdbusaddress.c
Owners: @smcv, @pwithnall

Add the gnulib adaptation patch
  glib/gnulib/glib-gnulib.patch
Owners: @ebassi, @pwithnall, @sdroege

gvaluearray: Mark the whole of GValueArray as deprecated
  gobject/gvaluearray.c
Owners: @ebassi, @pwithnall, @sdroege

Fixing signedness problem in glib/gstrfuncs.c
  glib/gstrfuncs.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Improve test coverage of D-Bus nonce-tcp transport addresses
  gio/tests/gdbus-addresses.c
Owners: @pwithnall, @ebassi

tests: Use g_assert_*() instead of g_assert() in gdbus-addresses test
  gio/tests/gdbus-addresses.c
Owners: @pwithnall, @ebassi

build: install gosxappinfo.h on macOS
  gio/meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

gdbusaddress, win32: don't rely on short names
  gio/gdbusaddress.c
Owners: @smcv, @pwithnall

tests: Always check an address is valid before checking it’s supported
  gio/tests/gdbus-addresses.c
Owners: @pwithnall, @ebassi

Fixing signedness in glib/gvariant.c
  glib/gvariant.c
Owners: @pwithnall, @sdroege

Fixing signedness in glib/gtestutils.c
  glib/gtestutils.c
Owners: @ebassi, @pwithnall, @sdroege

codegen: Fix use of uninitialised variable
  gio/gdbus-2.0/codegen/codegen.py
Owners: @smcv, @pwithnall

Silenting unused parameter warnings due to deprecated code
  meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

Fixing various warnings in glib/gmain.c
  glib/gmain.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Improve test coverage of D-Bus unix transport addresses
  gio/tests/gdbus-addresses.c
Owners: @pwithnall, @ebassi

GIO: Convert ENOTSOCK to G_IO_ERROR_INVALID_ARGUMENT
  gio/gioerror.c
Owners: @pwithnall, @ebassi

Fixing missing initializer for field in gscanner.c
  glib/gscanner.c
Owners: @ebassi, @pwithnall, @sdroege

gdatetime: Unmark an unrelated comment as a documentation comment
  glib/gdatetime.c
Owners: @ebassi, @pwithnall, @sdroege

Fix signedness in glib/gmappedfile.c
  glib/gmappedfile.c
Owners: @ebassi, @pwithnall, @sdroege

docs: Fix various typos in linked symbol names
  gio/gtlsdatabase.c
  gio/gunixfdlist.c
  gio/gunixfdmessage.c
Owners: @pwithnall, @ebassi

gmacros: Improve documentation of GCC attributes
  glib/gmacros.h
Owners: @ebassi, @pwithnall, @sdroege

Provide examples for GNUC attribute macros
  glib/docs.c
  glib/gmacros.h
Owners: @ebassi, @pwithnall, @sdroege

gdbus, win32: autolaunch bus with gdbus.exe instead of rundll32
  gio/gdbus-tool.c
  gio/gdbusprivate.c
  gio/gdbusprivate.h
Owners: @smcv, @pwithnall

tests: Compile the test_unix_address() test unconditionally
  gio/tests/gdbus-addresses.c
Owners: @pwithnall, @ebassi

Fixing various warnings in glib/gtimezone.c
  glib/gtimezone.c
Owners: @ebassi, @pwithnall, @sdroege

Fixing signedness in glib/giochannel.c
  glib/giochannel.c
Owners: @ebassi, @pwithnall, @sdroege

Fixing signedness in glib/goptions.c
  glib/goption.c
Owners: @ebassi, @pwithnall, @sdroege

Revert "headers: Add various missing G_DISABLE_DEPRECATED guards"
  gio/gdtlsconnection.h
  gio/gioenums.h
  gio/gsimpleasyncresult.h
  gio/gtlsconnection.h
  glib/deprecated/gthread-deprecated.c
  glib/gmacros.h
  glib/gmem.h
  glib/gtestutils.h
  glib/gtrashstack.h
  gobject/gparam.h
  gobject/gparamspecs.h
  gobject/gtype.h
  gobject/gvaluearray.h
Owners: @pwithnall, @ebassi, @sdroege

tests: Add test for unsupported unparseable D-Bus addresses
  gio/tests/gdbus-addresses.c
Owners: @pwithnall, @ebassi

Fixing various warnings in glib/gvariant-parser.c
  glib/gvariant-parser.c
Owners: @pwithnall, @sdroege

Fixing signedness in glib/gthread-posix.c
  glib/gthread-posix.c
Owners: @ebassi, @pwithnall, @sdroege

Handle an UNKNOWN NetworkManager connectivity as NONE
  gio/gnetworkmonitornm.c
Owners: @pwithnall, @ebassi

gdesktopappinfo: Fix an overly-specific ‘Since’ documentation line
  gio/gdesktopappinfo.c
Owners: @pwithnall, @ebassi
