Repository GNOME/glib, changes with the owners that docs/CODEOWNERS names for each.
All owners: @pwithnall, @ebassi, @xclaesse, @nirbheek, @creiter, @jralls, @sdroege, @lrn, @fanc999, @jmatthew, @ajacoutot, @lantw, @matthiasc, @alexl, @mcatanzaro, @pgriffis, @smcv, @oholy

Check if compiler symbols are defined before using them
  glib/gmacros.h
Owners: @ebassi, @pwithnall, @sdroege

ghash: Be more explicit about memory in g_hash_table_destroy_all_nodes()
  glib/ghash.c
Owners: @ebassi, @pwithnall, @sdroege

build: define G_OS_UNIX, not G_OS_WIN32 under cygwin
  meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

Include <sys/filio.h> for FIONREAD
  gio/inotify/inotify-kernel.c
Owners: @pwithnall, @ebassi

goption: Clarify G_OPTION_ARG_FILENAME documentation
  glib/goption.h
Owners: @ebassi, @pwithnall, @sdroege

docs: Fix typo in Meson cross-compilation instructions
  docs/reference/glib/cross.xml
Owners: @ebassi, @pwithnall, @sdroege

glib/tests/win32.c: Fix test variable types
  glib/tests/win32.c
Owners: @ebassi, @pwithnall, @sdroege

gtask: fix task_wait_time estimation
  gio/gtask.c
Owners: @pwithnall, @ebassi

docs: Fix name of IRC channel in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @pwithnall, @ebassi

glib, gio: Use GLIB_DEPRECATED_MACRO instead of G_DISABLE_DEPRECATED
  gio/gdesktopappinfo.h
  gio/gvolume.h
  glib/deprecated/gmain.h
  glib/deprecated/gthread.h
  glib/gdate.h
  glib/gfileutils.h
  glib/ghash.h
  glib/gmacros.h
  glib/gscanner.h
  glib/gstring.h
  glib/gunicode.h
  glib/gutils.h
Owners: @pwithnall, @ebassi, @sdroege

build: Add various installed utilities to gio-2.0.pc
  gio/meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

docs: fix typo on arrays examples in gvariant-text
  docs/reference/glib/gvariant-text.xml
Owners: @ebassi, @pwithnall, @sdroege

Document the best practice for binding InitiallyUnowned
  gobject/gobject.c
Owners: @ebassi, @pwithnall, @sdroege

gnetworkaddress: fix "happy eyeballs" logic
  gio/gnetworkaddress.c
Owners: @pwithnall, @ebassi

glib: Unconditionally include deprecated headers
  glib/glib.h
Owners: @ebassi, @pwithnall, @sdroege

gsettings: Add missing ‘Deprecated’ tag to g_settings_list_keys() docs
  gio/gsettings.c
Owners: @pwithnall, @ebassi

gfile: Limit access to files when copying
  gio/gfile.c
Owners: @pwithnall, @ebassi

GDBusAuthObserver: Fix mixup between authentication and authorization
  gio/gdbusauthobserver.c
Owners: @smcv, @pwithnall

ghash: fix small array handling in g_hash_table_remove_all_nodes()
  glib/ghash.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Improve debug output on testfilemonitor failure
  gio/tests/testfilemonitor.c
Owners: @pwithnall, @ebassi

gtestutils: Output in TAP format by default
  glib/gtestutils.c
Owners: @ebassi, @pwithnall, @sdroege

gutils: Move g_ATEXIT() and g_memmove() definitions from glibconfig.h
  glib/glibconfig.h.in
  glib/gutils.h
Owners: @ebassi, @pwithnall, @sdroege

Document where we expect credentials-passing to be supported
  gio/gsocket.c
  gio/gunixconnection.c
Owners: @pwithnall, @ebassi

garcbox.c: Fix typo atomit => atomic
  glib/garcbox.c
Owners: @ebassi, @pwithnall, @sdroege

glib-genmarshal: Fix ref-sinking of GVariants in valist marshallers
  gobject/glib-genmarshal.in
  gobject/tests/genmarshal.py
Owners: @ebassi, @pwithnall, @sdroege

gapplication: skip unexpected -psn_ parameter
  gio/gapplication.c
Owners: @pwithnall, @ebassi

glib: Deprecate gtester and gtester-report
  docs/reference/glib/glib-docs.xml
  docs/reference/glib/gtester-report.xml
  docs/reference/glib/gtester.xml
  glib/gtester-report.in
  glib/gtester.c
  glib/gtestutils.c
  glib/tests/meson.build
Owners: @ebassi, @pwithnall, @sdroege

CI/msys2: update to lcov 1.14
  .gitlab-ci/test-msys2.sh
Owners: @pwithnall, @xclaesse, @creiter

build: Drop use of G_DISABLE_DEPRECATED from the build system
  docs/reference/glib/compiling.xml
  docs/reference/meson.build
  gio/fam/meson.build
  gio/inotify/meson.build
  gio/kqueue/meson.build
  gio/win32/meson.build
  gmodule/meson.build
Owners: @ebassi, @pwithnall, @sdroege, @xclaesse, @nirbheek, @jmatthew, @ajacoutot, @lantw, @lrn, @creiter, @fanc999

Add g_get_console_charset
  docs/reference/glib/glib-sections.txt
  glib/gcharset.c
  glib/gcharset.h
  glib/gmessages.c
  glib/gstrfuncs.c
  glib/tests/utils.c
Owners: @ebassi, @pwithnall, @sdroege

gthread: Fix g_rw_lock_reader_lock() documentation
  glib/gthread-posix.c
Owners: @ebassi, @pwithnall, @sdroege

gdesktopappinfo: Add deprecation version to GDesktopAppInfoLookup
  gio/gdesktopappinfo.c
  gio/gdesktopappinfo.h
Owners: @pwithnall, @ebassi

glib: Rename G_STDIO_NO_WRAP_ON_UNIX → G_STDIO_WRAP_ON_UNIX
  glib/gstdio.c
  glib/gstdio.h
  glib/tests/fileutils.c
Owners: @ebassi, @pwithnall, @sdroege

property action: Add state hints
  gio/gpropertyaction.c
Owners: @pwithnall, @ebassi

GDBusServer: Document that a GDBusAuthObserver is usually desirable
  gio/gdbusauthobserver.c
  gio/gdbusserver.c
Owners: @smcv, @pwithnall

Post-release version bump
  meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

glib, gobject: Annotate deprecated types and enumerators
  glib/deprecated/gcache.h
  glib/deprecated/gthread.h
  glib/gspawn.h
  glib/gutils.c
  glib/gutils.h
  gobject/gparam.h
Owners: @ebassi, @pwithnall, @sdroege

tests: Remove redundant --tap options
  gio/tests/meson.build
  glib/tests/meson.build
  gobject/tests/meson.build
  template-tap.test.in
  tests/gobject/meson.build
  tests/meson.build
Owners: @xclaesse, @nirbheek, @pwithnall, @ebassi, @sdroege

tests: Fix hard-coded install path in glib-mkenums test
  gobject/tests/mkenums.py
Owners: @ebassi, @pwithnall, @sdroege

gtestutils: Add g_test_summary() to add summary metadata to unit tests
  docs/reference/glib/glib-sections.txt
  glib/gtestutils.c
  glib/gtestutils.h
  glib/tests/testing-helper.c
  glib/tests/testing.c
Owners: @ebassi, @pwithnall, @sdroege

docs/CODEOWNERS:

# These are the people responsible for subsystems in GLib; if you're opening
# a merge request for files listed here, please add the following people to
# the list of reviewers

# The syntax of this file is defined by GitLab:
#   https://docs.gitlab.com/ee/user/project/code_owners.html
# Which, in turn, is similar to the .gitignore and .gitattributes files:
#
#  - comments start with `#`
#  - the first column contains paths and globs
#  - the second column contains GitLab user names or email addresses,
#    separated by spaces
#
# The last matching glob (rather than the union of *all* matching globs) gives
# the owners of a piece of code.
#
# If you want to be responsible for code reviews in specific sections of
# the GLib code base, add yourself here.

# Overall maintainers
*	@pwithnall @ebassi

# Build system
meson.build		@xclaesse @nirbheek @pwithnall
meson_options.txt	@xclaesse @nirbheek @pwithnall
subprojects/		@xclaesse @nirbheek @pwithnall

# CI integration
.gitlab-ci*	@pwithnall @xclaesse @creiter

# macOS support
*osx*	@jralls @pwithnall @sdroege
*.m	@jralls @pwithnall @sdroege

# Windows support
*win32*	@lrn @creiter @fanc999 @pwithnall @sdroege

# Windows support (MSVC specific)
*msvc*	@fanc999 @creiter @pwithnall @sdroege

# Android support
*android*	@xclaesse @pwithnall @sdroege

# BSD support
*bsd*		@jmatthew @ajacoutot @lantw @pwithnall
*kqueue*	@jmatthew @ajacoutot @lantw @pwithnall

# flatpak portals
gio/*portal*	@matthiasc @alexl @pwithnall

# Networking
gio/g*{tcp,udp,tls,socket,resolver,proxy,network,inet,datagram}*	@mcatanzaro @pgriffis @pwithnall @sdroege

# D-Bus
gio/g*bus*	@smcv @pwithnall

# I/O
gio/g*{file,vfs,mount,drive,volume}*	@oholy @alexl @pwithnall @sdroege
gio/g*stream*				@alexl @pwithnall @sdroege
gio/gio-tool*				@oholy @alexl @pwithnall

# Generic bits of GLib
glib/	@ebassi @pwithnall @sdroege

# GObject type system
gobject/	@ebassi @pwithnall @sdroege

# GVariant
glib/gvariant*	@pwithnall @sdroege

# grefcount, GRcBox and GRefString
glib/gref{count,string}.[ch]	@ebassi @pwithnall @sdroege
glib/grc*.[ch]			@ebassi @pwithnall @sdroege
glib/garc*.[ch]			@ebassi @pwithnall @sdroege

# Logging
glib/gmessages.[ch]	@pwithnall @sdroege

# Google clusterfuzz support
fuzzing/	@pwithnall
