Repository GNOME/glib, changes with the owners that docs/CODEOWNERS names for each.
All owners: @pwithnall, @ebassi, @xclaesse, @nirbheek, @creiter, @jralls, @sdroege, @lrn, @fanc999, @jmatthew, @ajacoutot, @lantw, @matthiasc, @alexl, @mcatanzaro, @pgriffis, @smcv, @oholy

docs/CODEOWNERS:

# These are the people responsible for subsystems in GLib; if you're opening
# a merge request for files listed here, please add the following people to
# the list of reviewers

# The syntax of this file is defined by GitLab:
#   https://docs.gitlab.com/ee/user/project/code_owners.html
# Which, in turn, is similar to the .gitignore and .gitattributes files:
#
#  - comments start with `#`
#  - the first column contains paths and globs
#  - the second column contains GitLab user names or email addresses,
#    separated by spaces
#
# The last matching glob (rather than the union of *all* matching globs) gives
# the owners of a piece of code.
#
# If you want to be responsible for code reviews in specific sections of
# the GLib code base, add yourself here.

# Overall maintainers
*	@pwithnall @ebassi

# Build system
meson.build		@xclaesse @nirbheek @pwithnall
meson_options.txt	@xclaesse @nirbheek @pwithnall
subprojects/		@xclaesse @nirbheek @pwithnall

# CI integration
.gitlab-ci*	@pwithnall @xclaesse @creiter

# macOS support
*osx*	@jralls @pwithnall @sdroege
*.m	@jralls @pwithnall @sdroege

# Windows support
*win32*	@lrn @creiter @fanc999 @pwithnall @sdroege

# Windows support (MSVC specific)
*msvc*	@fanc999 @creiter @pwithnall @sdroege

# Android support
*android*	@xclaesse @pwithnall @sdroege

# BSD support
*bsd*		@jmatthew @ajacoutot @lantw @pwithnall
*kqueue*	@jmatthew @ajacoutot @lantw @pwithnall

# flatpak portals
gio/*portal*	@matthiasc @alexl @pwithnall

# Networking
gio/g*{tcp,udp,tls,socket,resolver,proxy,network,inet,datagram}*	@mcatanzaro @pgriffis @pwithnall @sdroege

# D-Bus
gio/g*bus*	@smcv @pwithnall

# I/O
gio/g*{file,vfs,mount,drive,volume}*	@oholy @alexl @pwithnall @sdroege
gio/g*stream*				@alexl @pwithnall @sdroege
gio/gio-tool*				@oholy @alexl @pwithnall

# Generic bits of GLib
glib/	@ebassi @pwithnall @sdroege

# GObject type system
gobject/	@ebassi @pwithnall @sdroege

# GVariant
glib/gvariant*	@pwithnall @sdroege

# grefcount, GRcBox and GRefString
glib/gref{count,string}.[ch]	@ebassi @pwithnall @sdroege
glib/grc*.[ch]			@ebassi @pwithnall @sdroege
glib/garc*.[ch]			@ebassi @pwithnall @sdroege

# Logging
glib/gmessages.[ch]	@pwithnall @sdroege

# Google clusterfuzz support
fuzzing/	@pwithnall

Test what happens when GTestSkipCount is 0 or more than number of tests
  glib/tests/testing.c
Owners: @ebassi, @pwithnall, @sdroege

ci: Generate a cover report for the test suite
  .gitlab-ci.yml
  .gitlab-ci/meson-junit-report.py
  .gitlab-ci/run-tests.sh
Owners: @pwithnall, @xclaesse, @creiter

ci: Move to per-job images
  .gitlab-ci.yml
Owners: @pwithnall, @xclaesse, @creiter

testing: Comment that test order with -p is reversed
  glib/tests/testing.c
Owners: @ebassi, @pwithnall, @sdroege

gtestutils: Add regression test for combining -s with --tap
  glib/tests/testing-helper.c
  glib/tests/testing.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Use g_assert_*() in autoptr tests rather than g_assert()
  glib/tests/autoptr.c
Owners: @ebassi, @pwithnall, @sdroege

testing: Run tests specified with -p in the order specified
  glib/gtestutils.c
  glib/tests/protocol.c
  glib/tests/testing.c
Owners: @ebassi, @pwithnall, @sdroege

gthreadedsocketservice: Handle thread pool push failure
  gio/gthreadedsocketservice.c
Owners: @pwithnall, @ebassi

build: Fix check for RTLD_NEXT
  meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

gio: tests, don't check for libdl on OpenBSD
  gio/tests/meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

Getting fullwidth for g_unichar_xdigit(_value)
  glib/guniprop.c
Owners: @ebassi, @pwithnall, @sdroege

Adding tests cases for a better coverage of glib/tests/strfuncs.c
  glib/tests/strfuncs.c
Owners: @ebassi, @pwithnall, @sdroege

gtestutils: Make --tap compatible with --GTestSkipCount
  glib/gtestutils.c
Owners: @ebassi, @pwithnall, @sdroege

ci: Update the Android NDK image to Fedora 28
  .gitlab-ci/android-ndk.Dockerfile
Owners: @xclaesse, @pwithnall, @sdroege

2.61.0
  NEWS
Owners: @pwithnall, @ebassi

glib/gnulib: Include gnulib_math.h in place of math.h
  glib/gnulib/signbitd.c
  glib/gnulib/signbitf.c
  glib/gnulib/signbitl.c
Owners: @ebassi, @pwithnall, @sdroege

docs: Improve formatting of GVariant types in GResolverRecordType docs
  gio/gioenums.h
Owners: @pwithnall, @ebassi

gtestutils: Test the combination of --tap and -p
  glib/tests/testing.c
Owners: @ebassi, @pwithnall, @sdroege

gio: Add missing autocleanup definition for GSettingsSchemaSource
  gio/gio-autocleanups.h
Owners: @pwithnall, @ebassi

Remove monitor test
  gio/tests/meson.build
  gio/tests/monitor.c
Owners: @xclaesse, @nirbheek, @pwithnall, @ebassi

gdbus-tool: Fix units for `gdbus-tool wait` timeout
  gio/gdbus-tool.c
Owners: @smcv, @pwithnall

docs: Add GLib 2.62 version macros to glib-sections.txt
  docs/reference/glib/glib-sections.txt
Owners: @ebassi, @pwithnall, @sdroege

gutils: Add (nullable) annotation to g_get_prgname()
  glib/gutils.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Don’t check for libdl on FreeBSD or NetBSD either
  gio/tests/meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

ci: The iconv combo option values have changed
  .gitlab-ci.yml
Owners: @pwithnall, @xclaesse, @creiter

Fixing glib/tests/strfuncs.c to conform to new test coding standards
  glib/tests/strfuncs.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Only run --external-data test on GNU ld/objcopy
  gio/tests/meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

Add copyright and licensing terms to test report generator
  .gitlab-ci/meson-junit-report.py
Owners: @pwithnall, @xclaesse, @creiter

Add a version check for duplicated-branches warning
  glib/ghash.c
Owners: @ebassi, @pwithnall, @sdroege

gtestutils: Allow combining --tap with -p
  glib/gtestutils.c
Owners: @ebassi, @pwithnall, @sdroege

gmacros: Add g_autoqueue to automatically free queues
  docs/reference/glib/glib-sections.txt
  glib/docs.c
  glib/gmacros.h
  glib/tests/autoptr.c
  gobject/tests/autoptr.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Fix some minor tests in the GResolver tests in manual mode
  gio/tests/resolver.c
Owners: @pwithnall, @ebassi

meson: Add autodetection to the iconv combo option
  meson.build
  meson_options.txt
Owners: @xclaesse, @nirbheek, @pwithnall

ci: Remove Android and MingW bits from the fedora Dockerfile
  .gitlab-ci/fedora.Dockerfile
Owners: @pwithnall, @xclaesse, @creiter

docs: Clarify support for multiple TXT record strings
  gio/gioenums.h
Owners: @pwithnall, @ebassi

build: Remove */.gitignore files
  gio/.gitignore
  glib/.gitignore
  gmodule/.gitignore
  gobject/.gitignore
  po/.gitignore
  tests/.gitignore
Owners: @pwithnall, @ebassi, @sdroege

gschema.dtd: Add target attribute to alias
  gio/gschema.dtd
Owners: @pwithnall, @ebassi

gconvert: Don't differentiate between GNU iconv and macOS iconv
  glib/gconvert.c
  meson.build
  meson_options.txt
Owners: @ebassi, @pwithnall, @sdroege, @xclaesse, @nirbheek

ginputstream: Add missing (out) annotations to read() functions
  gio/ginputstream.c
Owners: @alexl, @pwithnall, @sdroege

gio: Add missing autocleanup definition for GSettingsSchemaKey
  gio/gio-autocleanups.h
Owners: @pwithnall, @ebassi
