Repository GNOME/glib, changes with the owners that docs/CODEOWNERS names for each.
All owners: @pwithnall, @ebassi, @xclaesse, @nirbheek, @creiter, @jralls, @sdroege, @lrn, @fanc999, @jmatthew, @ajacoutot, @lantw, @matthiasc, @alexl, @mcatanzaro, @pgriffis, @smcv, @oholy

docs/CODEOWNERS:

# These are the people responsible for subsystems in GLib; if you're opening
# a merge request for files listed here, please add the following people to
# the list of reviewers

# The syntax of this file is defined by GitLab:
#   https://docs.gitlab.com/ee/user/project/code_owners.html
# Which, in turn, is similar to the .gitignore and .gitattributes files:
#
#  - comments start with `#`
#  - the first column contains paths and globs
#  - the second column contains GitLab user names or email addresses,
#    separated by spaces
#
# The last matching glob (rather than the union of *all* matching globs) gives
# the owners of a piece of code.
#
# If you want to be responsible for code reviews in specific sections of
# the GLib code base, add yourself here.

# Overall maintainers
*	@pwithnall @ebassi

# Build system
meson.build		@xclaesse @nirbheek @pwithnall
meson_options.txt	@xclaesse @nirbheek @pwithnall
subprojects/		@xclaesse @nirbheek @pwithnall

# CI integration
.gitlab-ci*	@pwithnall @xclaesse @creiter

# macOS support
*osx*	@jralls @pwithnall @sdroege
*.m	@jralls @pwithnall @sdroege

# Windows support
*win32*	@lrn @creiter @fanc999 @pwithnall @sdroege

# Windows support (MSVC specific)
*msvc*	@fanc999 @creiter @pwithnall @sdroege

# Android support
*android*	@xclaesse @pwithnall @sdroege

# BSD support
*bsd*		@jmatthew @ajacoutot @lantw @pwithnall
*kqueue*	@jmatthew @ajacoutot @lantw @pwithnall

# flatpak portals
gio/*portal*	@matthiasc @alexl @pwithnall

# Networking
gio/g*{tcp,udp,tls,socket,resolver,proxy,network,inet,datagram}*	@mcatanzaro @pgriffis @pwithnall @sdroege

# D-Bus
gio/g*bus*	@smcv @pwithnall

# I/O
gio/g*{file,vfs,mount,drive,volume}*	@oholy @alexl @pwithnall @sdroege
gio/g*stream*				@alexl @pwithnall @sdroege
gio/gio-tool*				@oholy @alexl @pwithnall

# Generic bits of GLib
glib/	@ebassi @pwithnall @sdroege

# GObject type system
gobject/	@ebassi @pwithnall @sdroege

# GVariant
glib/gvariant*	@pwithnall @sdroege

# grefcount, GRcBox and GRefString
glib/gref{count,string}.[ch]	@ebassi @pwithnall @sdroege
glib/grc*.[ch]			@ebassi @pwithnall @sdroege
glib/garc*.[ch]			@ebassi @pwithnall @sdroege

# Logging
glib/gmessages.[ch]	@pwithnall @sdroege

# Google clusterfuzz support
fuzzing/	@pwithnall

gdbusmessage: Fix comparisons out of range for enum types
  gio/gdbusmessage.c
Owners: @smcv, @pwithnall

gdatetime: Unset LC_ALL for the test as well
  glib/tests/gdatetime.c
Owners: @ebassi, @pwithnall, @sdroege

gdbus: proxy : Strip remote error on activation failure
  gio/gdbusproxy.c
Owners: @smcv, @pwithnall

Improve the documentation for G_DEFINE_TYPE_WITH_PRIVATE
  gobject/gtype.h
Owners: @ebassi, @pwithnall, @sdroege

Moving GCopyFunc typedef from glib/gnode.h to glib/gtypes.h
  glib/gnode.h
  glib/gtypes.h
Owners: @ebassi, @pwithnall, @sdroege

glib/gmacros.h: Check for __clang__ for g_autoptr
  glib/gmacros.h
Owners: @ebassi, @pwithnall, @sdroege

gdbus: Fix minor leak in peer test
  gio/tests/gdbus-peer.c
Owners: @pwithnall, @ebassi

doc: Add missing GLIB_DEPRECATED_TYPE and friends
  docs/reference/glib/glib-sections.txt
Owners: @ebassi, @pwithnall, @sdroege

gobject: remove use of generic marshaller from GObject
  gobject/gobject.c
Owners: @ebassi, @pwithnall, @sdroege

gdbusserver: properly escape all components of server address
  gio/gdbusserver.c
Owners: @smcv, @pwithnall

Avoid overrunning stack at the end of the varargs.
  glib/gmarkup.c
Owners: @ebassi, @pwithnall, @sdroege

gmain: Fix g_main_context_prepare priority annotation
  glib/gmain.c
Owners: @ebassi, @pwithnall, @sdroege

gdbus: improve an error message
  gio/gdbusserver.c
Owners: @smcv, @pwithnall

Updated Spanish translation
  po/es.po
Owners: @pwithnall, @ebassi

gio-tool.c: Don't hardcode localedir on Windows
  gio/gio-tool.c
Owners: @oholy, @alexl, @pwithnall

Fixing a small typo in docs/references/gio/gio.xml
  docs/reference/gio/gio.xml
Owners: @pwithnall, @ebassi

gio/tests: Remove code and comments referring to libtool
  gio/tests/giomodule.c
  gio/tests/resources.c
Owners: @pwithnall, @ebassi

gio/tests/resourceplugin.c: Ensure entry points are exported
  gio/tests/resourceplugin.c
Owners: @pwithnall, @ebassi

Fix test failures for static builds
  gio/tests/giomodule.c
  gio/tests/resources.c
  meson.build
Owners: @pwithnall, @ebassi, @xclaesse, @nirbheek

uwp: workaround a false positive in certification of glib
  gio/gregistrysettingsbackend.c
Owners: @pwithnall, @ebassi

gdbus: Stop server on dispose
  gio/gdbusserver.c
Owners: @smcv, @pwithnall

ci: Update the MSYS2 build script
  .gitlab-ci/test-msys2.sh
Owners: @pwithnall, @xclaesse, @creiter

tests: Ignore deprecated functions in a few main loop and timer tests
  glib/tests/mainloop.c
  glib/tests/timer.c
Owners: @ebassi, @pwithnall, @sdroege

Bugs should be reported on GitLab
  gobject/gsignal.c
Owners: @ebassi, @pwithnall, @sdroege

gfileutils: Ignore ENOENT from all except the last element
  glib/gfileutils.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Don’t spawn test processes via the terminal in the appinfo test
  gio/tests/appinfo-test.desktop.in
  gio/tests/appinfo.c
Owners: @pwithnall, @ebassi

gobject: Add a g_assert_finalize_object() macro
  docs/reference/gobject/gobject-sections.txt
  gobject/gobject.h
Owners: @ebassi, @pwithnall, @sdroege

gtestutils: Allow g_test_bug() to be used without g_test_bug_base()
  glib/gtestutils.c
Owners: @ebassi, @pwithnall, @sdroege

doc: Add gobject 2.62 API
  docs/reference/gobject/gobject-docs.xml
Owners: @ebassi, @pwithnall, @sdroege

Update Swedish translation
  po/sv.po
Owners: @pwithnall, @ebassi

glib/tests/fileutils: Add a reproducer for #1852
  glib/tests/fileutils.c
Owners: @ebassi, @pwithnall, @sdroege

meson: small cleanup for printf checks
  glib/gprintf.c
  glib/gprintfint.h
  glib/meson.build
  meson.build
Owners: @ebassi, @pwithnall, @sdroege, @xclaesse, @nirbheek

Update Indonesian translation
  po/id.po
Owners: @pwithnall, @ebassi

ci: Update Fedora's Docker image
  .gitlab-ci/fedora.Dockerfile
Owners: @pwithnall, @xclaesse, @creiter

ci: Update Debian's Docker image
  .gitlab-ci/debian-stable.Dockerfile
Owners: @pwithnall, @xclaesse, @creiter

gutf8: Assert that written memory stays in bounds
  glib/gutf8.c
Owners: @ebassi, @pwithnall, @sdroege

meson: build gnulib if printf isn't good enough
  glib/meson.build
Owners: @ebassi, @pwithnall, @sdroege

gdate: Fix minor typo in GTimeVal documentation
  glib/gdate.c
Owners: @ebassi, @pwithnall, @sdroege

docs: The mailing lists are no more
  CONTRIBUTING.md
Owners: @pwithnall, @ebassi

gvolumemonitor: Use GIOModule methods for getting default type
  gio/gunionvolumemonitor.c
Owners: @pwithnall, @ebassi
