Repository GNOME/glib, changes with the owners that docs/CODEOWNERS names for each.
All owners: @pwithnall, @ebassi, @xclaesse, @nirbheek, @creiter, @jralls, @sdroege, @lrn, @fanc999, @jmatthew, @ajacoutot, @lantw, @matthiasc, @alexl, @mcatanzaro, @pgriffis, @smcv, @oholy

CI/msys2: disable coverage reporting, lcov doesn't support gcc9 yet
  .gitlab-ci/test-msys2.sh
Owners: @pwithnall, @xclaesse, @creiter

ghash: fix bug introduced by valgrind fix
  glib/ghash.c
Owners: @ebassi, @pwithnall, @sdroege

gsubprocess: Add missing (nullable) annotation to get_identifier()
  gio/gsubprocess.c
Owners: @pwithnall, @ebassi

Annotate various types and macros as deprecated
  gio/gasyncinitable.c
  gio/gasyncinitable.h
  gio/gdesktopappinfo.c
  gio/gdtlsconnection.c
  gio/gdtlsconnection.h
  gio/ginitable.c
  gio/ginitable.h
  gio/gioenums.h
  gio/gtlsconnection.c
  gio/gtlsconnection.h
  glib/gslice.c
  glib/gtestutils.c
  glib/gtestutils.h
  glib/gtrashstack.c
  glib/gtrashstack.h
  gobject/gobject.c
  gobject/gobject.h
  gobject/gparam.h
  gobject/gparamspecs.h
  gobject/gtype-private.h
  gobject/gtype.c
  gobject/gtype.h
  gobject/gvaluearray.h
  gobject/tests/private.c
Owners: @pwithnall, @ebassi, @sdroege

Add autoptr support for GRWLock
  docs/reference/glib/glib-sections.txt
  glib/glib-autocleanups.h
  glib/gthread.h
  glib/tests/autoptr.c
Owners: @ebassi, @pwithnall, @sdroege

Please don't use GInitiallyUnowned and floating refs
  gobject/gobject.c
Owners: @ebassi, @pwithnall, @sdroege

gmacros: Only use deprecated attributes on enumerators with GCC ≥ 6.1
  glib/gmacros.h
Owners: @ebassi, @pwithnall, @sdroege

Use atomic reference counting for GSource
  glib/gmain.c
Owners: @ebassi, @pwithnall, @sdroege

tests: test g_cond_wait_until() under stress
  glib/tests/cond.c
Owners: @ebassi, @pwithnall, @sdroege

gmacros.h: Use static_assert on MSVC if possible
  glib/gmacros.h
Owners: @ebassi, @pwithnall, @sdroege

list model: Expand items-changed docs
  gio/glistmodel.c
Owners: @pwithnall, @ebassi

portal: Add a getter for dconf access
  gio/gportalsupport.c
  gio/gportalsupport.h
Owners: @matthiasc, @alexl, @pwithnall

Prevent taptestrunner to create a __pycache__ directory
  gobject/tests/meson.build
Owners: @ebassi, @pwithnall, @sdroege

gunidecomp: Add (out) annotations to g_unichar_{de,}compose()
  glib/gunidecomp.c
Owners: @ebassi, @pwithnall, @sdroege

glib/gtimezone.c: Use RegLoadMUIStringW() to query Std/Dlt strings
  glib/gtimezone.c
Owners: @ebassi, @pwithnall, @sdroege

gsocketlistener: Clarify when g_socket_listener_set_backlog() works
  gio/gsocketlistener.c
Owners: @pwithnall, @ebassi

gthread: fix minor errno problem in GCond
  glib/gthread-posix.c
Owners: @ebassi, @pwithnall, @sdroege

Adding a function g_array_copy() to glib/garray.c
  docs/reference/glib/glib-sections.txt
  glib/garray.c
  glib/garray.h
  glib/tests/array-test.c
Owners: @ebassi, @pwithnall, @sdroege

Ensure that the keyfile settings backend exists
  gio/giomodule.c
Owners: @pwithnall, @ebassi

gmacros: Use _Static_assert when C11 is available
  glib/gmacros.h
Owners: @ebassi, @pwithnall, @sdroege

Update Indonesian translation
  po/id.po
Owners: @pwithnall, @ebassi

gdbus-connection-loss: Fix test failure
  gio/tests/gdbus-connection-loss.c
Owners: @pwithnall, @ebassi

docs: Add example to g_test_summary() documentation
  glib/gtestutils.c
Owners: @ebassi, @pwithnall, @sdroege

gvalue: Avoid expensive checks where possible
  gobject/gvalue.c
Owners: @ebassi, @pwithnall, @sdroege

gdbusobjectmanager: store signal ids for re-use
  gio/gdbusobjectmanager.c
Owners: @smcv, @pwithnall

doc: Add new G_UNICODE_SCRIPT_ values
  glib/gunicode.h
Owners: @ebassi, @pwithnall, @sdroege

gio: remove use of generic marshaller from GIO objects
  gio/gactiongroup.c
  gio/gappinfo.c
  gio/gapplication.c
  gio/gdbusauthobserver.c
  gio/gdbusconnection.c
  gio/gdbusinterfaceskeleton.c
  gio/gdbusobjectmanager.c
  gio/gdbusobjectmanagerclient.c
  gio/gdbusproxy.c
  gio/gdbusserver.c
  gio/gdtlsconnection.c
  gio/gfilemonitor.c
  gio/glistmodel.c
  gio/gmarshal-internal.c
  gio/gmarshal-internal.h
  gio/gmarshal-internal.list
  gio/gmenumodel.c
  gio/gmountoperation.c
  gio/gsettings.c
  gio/gsocketclient.c
  gio/gsocketlistener.c
  gio/gsocketservice.c
  gio/gthreadedsocketservice.c
  gio/gtlsconnection.c
  gio/meson.build
Owners: @pwithnall, @ebassi, @smcv, @xclaesse, @nirbheek

gstdio: Ensure w32_err_to_errno is used everywhere, add ERROR_INVALID_PARAMETER handling
  glib/gstdio.c
Owners: @ebassi, @pwithnall, @sdroege

gtimezone.c: Fix identifier assignment on Windows
  glib/gtimezone.c
Owners: @ebassi, @pwithnall, @sdroege

settings: Tweak priorities for keyfile backend
  gio/gkeyfilesettingsbackend.c
Owners: @pwithnall, @ebassi

gtestdbus: Clarify comment on dropping connection ref
  gio/gtestdbus.c
Owners: @smcv, @pwithnall

gmacros: Use _Static_assert only for non-expr static assert
  glib/gmacros.h
  glib/tests/macros.c
Owners: @ebassi, @pwithnall, @sdroege

gdbusaddress: Add missing transfer annotation
  gio/gdbusaddress.c
Owners: @smcv, @pwithnall

doc: fix typo in gio/gresource.c
  gio/gresource.c
Owners: @pwithnall, @ebassi

gobject/tests/signals.c: Fix tests on Windows
  gobject/tests/signals.c
Owners: @ebassi, @pwithnall, @sdroege

gio tools: Use the proper string for default locale for setlocale()
  gio/gio-querymodules.c
  gio/gio-tool.c
  gio/glib-compile-resources.c
  gio/glib-compile-schemas.c
  gio/gresource-tool.c
  gio/gsettings-tool.c
Owners: @pwithnall, @ebassi, @oholy, @alexl

Adding g_ptr_array_copy() function to glib/garray.c
  docs/reference/glib/glib-sections.txt
  glib/garray.c
  glib/garray.h
  glib/tests/array-test.c
Owners: @ebassi, @pwithnall, @sdroege

docs.c: Forward link from g_auto* → G_DEFINE_AUTO*
  glib/docs.c
Owners: @ebassi, @pwithnall, @sdroege

gutils: Don't limit the length of the host name to 99
  glib/gutils.c
Owners: @ebassi, @pwithnall, @sdroege

Fix module tests on Visual Studio builds
  gio/tests/giomodule.c
  gio/tests/resources.c
  tests/module-test.c
Owners: @pwithnall, @ebassi

docs/CODEOWNERS:

# These are the people responsible for subsystems in GLib; if you're opening
# a merge request for files listed here, please add the following people to
# the list of reviewers

# The syntax of this file is defined by GitLab:
#   https://docs.gitlab.com/ee/user/project/code_owners.html
# Which, in turn, is similar to the .gitignore and .gitattributes files:
#
#  - comments start with `#`
#  - the first column contains paths and globs
#  - the second column contains GitLab user names or email addresses,
#    separated by spaces
#
# The last matching glob (rather than the union of *all* matching globs) gives
# the owners of a piece of code.
#
# If you want to be responsible for code reviews in specific sections of
# the GLib code base, add yourself here.

# Overall maintainers
*	@pwithnall @ebassi

# Build system
meson.build		@xclaesse @nirbheek @pwithnall
meson_options.txt	@xclaesse @nirbheek @pwithnall
subprojects/		@xclaesse @nirbheek @pwithnall

# CI integration
.gitlab-ci*	@pwithnall @xclaesse @creiter

# macOS support
*osx*	@jralls @pwithnall @sdroege
*.m	@jralls @pwithnall @sdroege

# Windows support
*win32*	@lrn @creiter @fanc999 @pwithnall @sdroege

# Windows support (MSVC specific)
*msvc*	@fanc999 @creiter @pwithnall @sdroege

# Android support
*android*	@xclaesse @pwithnall @sdroege

# BSD support
*bsd*		@jmatthew @ajacoutot @lantw @pwithnall
*kqueue*	@jmatthew @ajacoutot @lantw @pwithnall

# flatpak portals
gio/*portal*	@matthiasc @alexl @pwithnall

# Networking
gio/g*{tcp,udp,tls,socket,resolver,proxy,network,inet,datagram}*	@mcatanzaro @pgriffis @pwithnall @sdroege

# D-Bus
gio/g*bus*	@smcv @pwithnall

# I/O
gio/g*{file,vfs,mount,drive,volume}*	@oholy @alexl @pwithnall @sdroege
gio/g*stream*				@alexl @pwithnall @sdroege
gio/gio-tool*				@oholy @alexl @pwithnall

# Generic bits of GLib
glib/	@ebassi @pwithnall @sdroege

# GObject type system
gobject/	@ebassi @pwithnall @sdroege

# GVariant
glib/gvariant*	@pwithnall @sdroege

# grefcount, GRcBox and GRefString
glib/gref{count,string}.[ch]	@ebassi @pwithnall @sdroege
glib/grc*.[ch]			@ebassi @pwithnall @sdroege
glib/garc*.[ch]			@ebassi @pwithnall @sdroege

# Logging
glib/gmessages.[ch]	@pwithnall @sdroege

# Google clusterfuzz support
fuzzing/	@pwithnall
