Repository GNOME/glib, changes with the owners that docs/CODEOWNERS names for each.
All owners: @pwithnall, @ebassi, @xclaesse, @nirbheek, @creiter, @jralls, @sdroege, @lrn, @fanc999, @jmatthew, @ajacoutot, @lantw, @matthiasc, @alexl, @mcatanzaro, @pgriffis, @smcv, @oholy

Fix typo in G_DECLARE_DERIVABLE_TYPE documentation
  gobject/gtype.h
Owners: @ebassi, @pwithnall, @sdroege

doap: Update the <mailing-list> element
  glib.doap
Owners: @pwithnall, @ebassi

gptrarray: Correctly set copied array length in g_ptr_array_copy()
  glib/garray.c
Owners: @ebassi, @pwithnall, @sdroege

Update Brazilian Portuguese translation
  po/pt_BR.po
Owners: @pwithnall, @ebassi

build: Bump up the required version of Meson
  meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

tests: Use g_ptr_array_set_free_func() rather than manual free()
  glib/tests/array-test.c
Owners: @ebassi, @pwithnall, @sdroege

gcontenttype: Add no-op versions of {get,set}_mime_dirs() on win32/macOS
  gio/gcontenttype-win32.c
  gio/gosxcontenttype.m
Owners: @lrn, @creiter, @fanc999, @pwithnall, @sdroege, @jralls

gutils: Remove dead code used for Windows SDK versions
  glib/gutils.c
Owners: @ebassi, @pwithnall, @sdroege

gasyncqueue: Ignore use of deprecated types in deprecated APIs
  glib/gasyncqueue.c
Owners: @ebassi, @pwithnall, @sdroege

Post-release version bump
  meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

glib/goption.c: Replace precondition with assertion
  glib/goption.c
Owners: @ebassi, @pwithnall, @sdroege

gnetworkmonitornm: Remove unneeded ";" in G_DEFINE_INTERFACE_WITH_CODE
  gio/gnetworkmonitor.c
Owners: @pwithnall, @ebassi

doc: Add missing GNativeSocketAddress
  docs/reference/gio/gio-docs.xml
Owners: @pwithnall, @ebassi

gtypes: Deprecate GTimeVal in favour of guint64 or GDateTime
  glib/gasyncqueue.h
  glib/gdate.c
  glib/gmain.h
  glib/gtypes.h
Owners: @ebassi, @pwithnall, @sdroege

gtestutils: Set coredump rlimit to 0 when calling g_test_trap_fork()
  glib/gtestutils.c
Owners: @ebassi, @pwithnall, @sdroege

gobject/gobject.c: Tweak conditional to pacify static analysis
  gobject/gobject.c
Owners: @ebassi, @pwithnall, @sdroege

gmain.c: Fix comment about Y2038 safety of g_get_real_time()
  glib/gmain.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Remove unneeded ";" in G_DEFINE_INTERFACE_WITH_CODE
  gobject/tests/type.c
Owners: @ebassi, @pwithnall, @sdroege

gfileinfo: Deprecate g_file_info_{get,set}_modification_time()
  gio/gfileinfo.c
  gio/gfileinfo.h
Owners: @pwithnall, @ebassi

glib/gbacktrace.c: Handling properly the dup(stderr) call
  glib/gbacktrace.c
Owners: @ebassi, @pwithnall, @sdroege

gdbusutils: Stop using g_get_current_time()
  gio/gdbusutils.c
Owners: @smcv, @pwithnall

Add (out) annotation to (optional) parameters
  gio/gvdb/gvdb-reader.c
  glib/gtree.c
  glib/gvarianttypeinfo.c
Owners: @pwithnall, @ebassi, @sdroege

Update Catalan translation
  po/ca.po
Owners: @pwithnall, @ebassi

tests: Use g_object_assert_last_unref() in various tests
  gio/tests/glistmodel.c
  gio/tests/tls-interaction.c
Owners: @pwithnall, @ebassi

Update Romanian translation
  po/ro.po
Owners: @pwithnall, @ebassi

doc: Remove trailing dot that confuse gtkdoc
  glib/garcbox.c
  glib/grcbox.c
Owners: @ebassi, @pwithnall, @sdroege

gio/gnetworkmonitornetlink.c: Add NULL check on dest before using it
  gio/gnetworkmonitornetlink.c
Owners: @pwithnall, @ebassi

doc: Add some missing symbols
  docs/reference/gio/gio-sections.txt
Owners: @pwithnall, @ebassi

Run the accumulator function for RUN_CLEANUP object handlers too
  gobject/gsignal.c
  tests/gobject/testgobject.c
Owners: @ebassi, @pwithnall, @sdroege

tests: Drop unnecessary usage of g_test_bug_base("")
  gio/tests/task.c
  glib/tests/timeout.c
Owners: @pwithnall, @ebassi, @sdroege

Update Basque translation
  po/eu.po
Owners: @pwithnall, @ebassi

Update Polish translation
  po/pl.po
Owners: @pwithnall, @ebassi

glib.supp: Add some missing suppressions for one-time allocations
  glib.supp
Owners: @pwithnall, @ebassi

ci: Update the Android NDK Docker image
  .gitlab-ci/android-ndk.Dockerfile
Owners: @xclaesse, @pwithnall, @sdroege

glib-genmarshal: Avoid a param ref for static param valist arguments
  gobject/glib-genmarshal.in
  gobject/tests/genmarshal.py
Owners: @ebassi, @pwithnall, @sdroege

win32: Stop using deprecated GTimeVal in GWinHttpFile
  gio/win32/gwinhttpfile.c
Owners: @lrn, @creiter, @fanc999, @pwithnall, @sdroege

Meson: Override glib-compile-resources/schemas
  gio/meson.build
Owners: @xclaesse, @nirbheek, @pwithnall

Update Romanian translation
  po/ro.po
Owners: @pwithnall, @ebassi

glib: Stop mentioning deprecated g_get_current_time() in docs
  glib/deprecated/gthread-deprecated.c
  glib/gasyncqueue.c
Owners: @ebassi, @pwithnall, @sdroege

2.61.2
  NEWS
Owners: @pwithnall, @ebassi

docs/CODEOWNERS:

# These are the people responsible for subsystems in GLib; if you're opening
# a merge request for files listed here, please add the following people to
# the list of reviewers

# The syntax of this file is defined by GitLab:
#   https://docs.gitlab.com/ee/user/project/code_owners.html
# Which, in turn, is similar to the .gitignore and .gitattributes files:
#
#  - comments start with `#`
#  - the first column contains paths and globs
#  - the second column contains GitLab user names or email addresses,
#    separated by spaces
#
# The last matching glob (rather than the union of *all* matching globs) gives
# the owners of a piece of code.
#
# If you want to be responsible for code reviews in specific sections of
# the GLib code base, add yourself here.

# Overall maintainers
*	@pwithnall @ebassi

# Build system
meson.build		@xclaesse @nirbheek @pwithnall
meson_options.txt	@xclaesse @nirbheek @pwithnall
subprojects/		@xclaesse @nirbheek @pwithnall

# CI integration
.gitlab-ci*	@pwithnall @xclaesse @creiter

# macOS support
*osx*	@jralls @pwithnall @sdroege
*.m	@jralls @pwithnall @sdroege

# Windows support
*win32*	@lrn @creiter @fanc999 @pwithnall @sdroege

# Windows support (MSVC specific)
*msvc*	@fanc999 @creiter @pwithnall @sdroege

# Android support
*android*	@xclaesse @pwithnall @sdroege

# BSD support
*bsd*		@jmatthew @ajacoutot @lantw @pwithnall
*kqueue*	@jmatthew @ajacoutot @lantw @pwithnall

# flatpak portals
gio/*portal*	@matthiasc @alexl @pwithnall

# Networking
gio/g*{tcp,udp,tls,socket,resolver,proxy,network,inet,datagram}*	@mcatanzaro @pgriffis @pwithnall @sdroege

# D-Bus
gio/g*bus*	@smcv @pwithnall

# I/O
gio/g*{file,vfs,mount,drive,volume}*	@oholy @alexl @pwithnall @sdroege
gio/g*stream*				@alexl @pwithnall @sdroege
gio/gio-tool*				@oholy @alexl @pwithnall

# Generic bits of GLib
glib/	@ebassi @pwithnall @sdroege

# GObject type system
gobject/	@ebassi @pwithnall @sdroege

# GVariant
glib/gvariant*	@pwithnall @sdroege

# grefcount, GRcBox and GRefString
glib/gref{count,string}.[ch]	@ebassi @pwithnall @sdroege
glib/grc*.[ch]			@ebassi @pwithnall @sdroege
glib/garc*.[ch]			@ebassi @pwithnall @sdroege

# Logging
glib/gmessages.[ch]	@pwithnall @sdroege

# Google clusterfuzz support
fuzzing/	@pwithnall
